{% extends 'layouts/default.twig' %}
{% set body_class = 'about-page with-banner' %}
{% set head_title = 'About Us' %}
{% block page %}
			<section class="banner-title">
				<div class="image-area" data-aos="fade-in">
					<div class="overlay"></div>
					<figure>
						<div class="images" style="background-image: url('assets/img/photos/image_6.jpg');"></div>
					</figure>
				</div>
				<div class="title-area">
					<div class="title-page">
						<h4 class="font-text-bold" data-aos="zoom-in">About Us</h4>
					</div>
				</div>
			</section>
			<section class="about-view">
				<div class="container">
					<div class="about-content">
						<div class="thumbnail-split">
							<div class="row no-gutters align-items-center thumbnail-row" data-aos="fade-up">
								<div class="col-md-6">
									<div class="image-area">
										<figure>
											<img class="images" src="assets/img/photos/image_9.jpg" alt="">
										</figure>
									</div>
								</div>
								<div class="col-md-6">
									<div class="desc-area">
										<div class="wrapper">
											<h4 class="font-text-bold">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit
											</h4>
											<p>
												<strong>Oris Property</strong> is one of the leading property agencies in Jakarta, Indonesia. We pride ourselves in providing sales and leasing for upscale residential projects around Jakarta. Established in 2011, Oris Property continues to become the most foremost name in the property industry especially in South Jakarta area. We are committed to maintaining the quality of our agents by doing some trainings & professional development. So our Valuable Clients will receive the best support and maximum satisfactions.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row no-gutters align-items-center thumbnail-row" data-aos="fade-up">
								<div class="col-md-6">
									<div class="image-area">
										<figure>
											<img class="images" src="assets/img/photos/image_10.jpg" alt="">
										</figure>
									</div>
								</div>
								<div class="col-md-6">
									<div class="desc-area">
										<div class="wrapper">
											<h4 class="font-text-bold">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit
											</h4>
											<p>
												Honest, loyal & passionate about real estate is our key for success. And of course be effective; do everything possible to achieve the maximum result today and strive for more, so that tomorrow becomes even more rewarding.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row no-gutters align-items-center thumbnail-row" data-aos="fade-up">
								<div class="col-md-6">
									<div class="image-area">
										<figure>
											<img class="images" src="assets/img/photos/image_11.jpg" alt="">
										</figure>
									</div>
								</div>
								<div class="col-md-6">
									<div class="desc-area">
										<div class="wrapper">
											<h4 class="font-text-bold">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit
											</h4>
											<p>
												We have a power and innovation in Digital Marketing Strategy. Our Transaction Value in 2021 is more than 700 Billion Rupiah, increase by 30% from previous year.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="vision-view">
				<div class="container">
					<div class="title-page">
						<h4 class="font-text-bold" data-aos="fade-right">Our Vision</h4>
					</div>
					<div class="agents-content">
						<div class="wrapper" data-aos="fade-up">
							<div class="wording-content">
								<article data-aos="fade-up">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur turpis nec bibendum tincidunt. Nullam eu fringilla sem. Suspendisse in vestibulum enim, vel sagittis sapien. Maecenas fringilla ex quis tempor finibus. Fusce aliquam, sem sit amet congue vulputate, purus lorem dapibus odio, id fermentum lectus justo id ex. Nunc rutrum ipsum non tortor euismod pharetra. Duis egestas turpis ligula, in pellentesque augue aliquet nec. In eu ornare nibh. Vivamus malesuada finibus justo non porta. Curabitur eu tempus sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vitae convallis turpis. Sed ut nibh tincidunt, porta quam accumsan, pretium mauris. In hac habitasse platea dictumst. Cras vel nisl sed sapien mattis rutrum id nec lectus.
									</p>
									<p>
										Praesent mollis maximus nisl convallis finibus. Curabitur nulla lectus, porta vitae pharetra ac, dapibus quis tortor. Donec vel porta risus, non sodales elit. Vivamus eget lobortis purus, sed condimentum nunc. Phasellus aliquet, lacus ut blandit feugiat, lectus dui auctor odio, a consectetur velit ante et tortor. Mauris a dui orci. Proin sodales rutrum iaculis. Nullam tincidunt ante sed nulla rutrum pulvinar. Cras elit sem, dictum rhoncus sem dictum, varius euismod libero. Praesent elit magna, finibus vitae viverra nec, pretium a leo. Proin nec magna quis quam consectetur elementum. Aenean a congue nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas congue sit amet mauris in tempor.
									</p>
									<h3>
										<strong>H3 tag with bold text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
									</h3>
									<h4>
										<strong>H4 tag with bold text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
									</h4>
									<h5>H5 tag - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
									<h6>H6 tag - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
								</article>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="mission-view">
				<div class="container">
					<div class="title-page">
						<h4 class="font-text-bold" data-aos="fade-right">Our Mission</h4>
					</div>
					<div class="agents-content">
						<div class="wrapper" data-aos="fade-up">
							<div class="wording-content">
								<article data-aos="fade-up">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur turpis nec bibendum tincidunt. Nullam eu fringilla sem. Suspendisse in vestibulum enim, vel sagittis sapien. Maecenas fringilla ex quis tempor finibus. Fusce aliquam, sem sit amet congue vulputate, purus lorem dapibus odio, id fermentum lectus justo id ex. Nunc rutrum ipsum non tortor euismod pharetra. Duis egestas turpis ligula, in pellentesque augue aliquet nec. In eu ornare nibh. Vivamus malesuada finibus justo non porta. Curabitur eu tempus sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vitae convallis turpis. Sed ut nibh tincidunt, porta quam accumsan, pretium mauris. In hac habitasse platea dictumst. Cras vel nisl sed sapien mattis rutrum id nec lectus.
									</p>
									<p>
										Praesent mollis maximus nisl convallis finibus. Curabitur nulla lectus, porta vitae pharetra ac, dapibus quis tortor. Donec vel porta risus, non sodales elit. Vivamus eget lobortis purus, sed condimentum nunc. Phasellus aliquet, lacus ut blandit feugiat, lectus dui auctor odio, a consectetur velit ante et tortor. Mauris a dui orci. Proin sodales rutrum iaculis. Nullam tincidunt ante sed nulla rutrum pulvinar. Cras elit sem, dictum rhoncus sem dictum, varius euismod libero. Praesent elit magna, finibus vitae viverra nec, pretium a leo. Proin nec magna quis quam consectetur elementum. Aenean a congue nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas congue sit amet mauris in tempor.
									</p>
									<h3>
										<strong>H3 tag with bold text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
									</h3>
									<h4>
										<strong>H4 tag with bold text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
									</h4>
									<h5>H5 tag - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
									<h6>H6 tag - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
								</article>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="floating-button" data-aos="zoom-in-left" data-aos-delay="600">
				<a class="font-text-bold" href="sell.html">
					Sell With Us
				</a>
			</div>
{% endblock %}