{% extends 'layouts/default.twig' %}
{% set body_class = 'about-page' %}
{% set head_title = 'About Us' %}
{% block page %}
			<section class="about-view">
				<div class="container">
					<div class="title-page">
						<h4 class="font-text-bold" data-aos="fade-right">Why Us</h4>
					</div>
					<div class="agents-content with-sticky-nav">
						<div class="wrapper" data-aos="fade-up">
							<ul class="custom-nav nav" id="why-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="about-nav-tab" data-toggle="tab" href="#about-tab" role="tab" aria-controls="about-tab" aria-selected="true">About</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="vision-nav-tab" data-toggle="tab" href="#vision-tab" role="tab" aria-controls="vision-tab" aria-selected="false">Vision</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="mission-nav-tab" data-toggle="tab" href="#mission-tab" role="tab" aria-controls="mission-tab" aria-selected="false">Mission</a>
								</li>
							</ul>
							<div class="tab-content" id="about-tabContent">
								<div class="tab-pane fade show active" id="about-tab" role="tabpanel" aria-labelledby="about-nav-tab">
									<div class="content-tab content-about">
										<div class="wording-content">
											<article data-aos="fade-up">
												<h4>
													<strong>About Us</strong>
												</h4>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur turpis nec bibendum tincidunt. Nullam eu fringilla sem. Suspendisse in vestibulum enim, vel sagittis sapien. Maecenas fringilla ex quis tempor finibus. Fusce aliquam, sem sit amet congue vulputate, purus lorem dapibus odio, id fermentum lectus justo id ex. Nunc rutrum ipsum non tortor euismod pharetra. Duis egestas turpis ligula, in pellentesque augue aliquet nec. In eu ornare nibh. Vivamus malesuada finibus justo non porta. Curabitur eu tempus sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vitae convallis turpis. Sed ut nibh tincidunt, porta quam accumsan, pretium mauris. In hac habitasse platea dictumst. Cras vel nisl sed sapien mattis rutrum id nec lectus.
												</p>
												<p>
													Praesent mollis maximus nisl convallis finibus. Curabitur nulla lectus, porta vitae pharetra ac, dapibus quis tortor. Donec vel porta risus, non sodales elit. Vivamus eget lobortis purus, sed condimentum nunc. Phasellus aliquet, lacus ut blandit feugiat, lectus dui auctor odio, a consectetur velit ante et tortor. Mauris a dui orci. Proin sodales rutrum iaculis. Nullam tincidunt ante sed nulla rutrum pulvinar. Cras elit sem, dictum rhoncus sem dictum, varius euismod libero. Praesent elit magna, finibus vitae viverra nec, pretium a leo. Proin nec magna quis quam consectetur elementum. Aenean a congue nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas congue sit amet mauris in tempor.
												</p>
												<h3>
													<strong>H3 tag with bold text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
												</h3>
												<h4>
													<strong>H4 tag with bold text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
												</h4>
												<h5>H5 tag - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
												<h6>H6 tag - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
											</article>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="vision-tab" role="tabpanel" aria-labelledby="vision-nav-tab">
									<div class="content-tab content-vision">
										<div class="wording-content">
											<article data-aos="fade-up">
												<h4>
													<strong>Our Vision</strong>
												</h4>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur turpis nec bibendum tincidunt. Nullam eu fringilla sem. Suspendisse in vestibulum enim, vel sagittis sapien. Maecenas fringilla ex quis tempor finibus. Fusce aliquam, sem sit amet congue vulputate, purus lorem dapibus odio, id fermentum lectus justo id ex. Nunc rutrum ipsum non tortor euismod pharetra. Duis egestas turpis ligula, in pellentesque augue aliquet nec. In eu ornare nibh. Vivamus malesuada finibus justo non porta. Curabitur eu tempus sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vitae convallis turpis. Sed ut nibh tincidunt, porta quam accumsan, pretium mauris. In hac habitasse platea dictumst. Cras vel nisl sed sapien mattis rutrum id nec lectus.
												</p>
												<p>
													Praesent mollis maximus nisl convallis finibus. Curabitur nulla lectus, porta vitae pharetra ac, dapibus quis tortor. Donec vel porta risus, non sodales elit. Vivamus eget lobortis purus, sed condimentum nunc. Phasellus aliquet, lacus ut blandit feugiat, lectus dui auctor odio, a consectetur velit ante et tortor. Mauris a dui orci. Proin sodales rutrum iaculis. Nullam tincidunt ante sed nulla rutrum pulvinar. Cras elit sem, dictum rhoncus sem dictum, varius euismod libero. Praesent elit magna, finibus vitae viverra nec, pretium a leo. Proin nec magna quis quam consectetur elementum. Aenean a congue nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas congue sit amet mauris in tempor.
												</p>
												<h3>
													<strong>H3 tag with bold text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
												</h3>
												<h4>
													<strong>H4 tag with bold text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
												</h4>
												<h5>H5 tag - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
												<h6>H6 tag - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
											</article>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="mission-tab" role="tabpanel" aria-labelledby="mission-nav-tab">
									<div class="content-tab content-mission">
										<div class="wording-content">
											<article data-aos="fade-up">
												<h4>
													<strong>Our Mission</strong>
												</h4>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur turpis nec bibendum tincidunt. Nullam eu fringilla sem. Suspendisse in vestibulum enim, vel sagittis sapien. Maecenas fringilla ex quis tempor finibus. Fusce aliquam, sem sit amet congue vulputate, purus lorem dapibus odio, id fermentum lectus justo id ex. Nunc rutrum ipsum non tortor euismod pharetra. Duis egestas turpis ligula, in pellentesque augue aliquet nec. In eu ornare nibh. Vivamus malesuada finibus justo non porta. Curabitur eu tempus sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vitae convallis turpis. Sed ut nibh tincidunt, porta quam accumsan, pretium mauris. In hac habitasse platea dictumst. Cras vel nisl sed sapien mattis rutrum id nec lectus.
												</p>
												<p>
													Praesent mollis maximus nisl convallis finibus. Curabitur nulla lectus, porta vitae pharetra ac, dapibus quis tortor. Donec vel porta risus, non sodales elit. Vivamus eget lobortis purus, sed condimentum nunc. Phasellus aliquet, lacus ut blandit feugiat, lectus dui auctor odio, a consectetur velit ante et tortor. Mauris a dui orci. Proin sodales rutrum iaculis. Nullam tincidunt ante sed nulla rutrum pulvinar. Cras elit sem, dictum rhoncus sem dictum, varius euismod libero. Praesent elit magna, finibus vitae viverra nec, pretium a leo. Proin nec magna quis quam consectetur elementum. Aenean a congue nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas congue sit amet mauris in tempor.
												</p>
												<h3>
													<strong>H3 tag with bold text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
												</h3>
												<h4>
													<strong>H4 tag with bold text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
												</h4>
												<h5>H5 tag - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
												<h6>H6 tag - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
											</article>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}