{% extends 'layouts/default.twig' %}
{% set body_class = 'agents-page with-banner' %}
{% set head_title = 'Agents' %}
{% block page %}
			<section class="banner-title">
				<div class="image-area" data-aos="fade-in">
					<div class="overlay"></div>
					<figure>
						<div class="images" style="background-image: url('assets/img/photos/image_5.jpg');"></div>
					</figure>
				</div>
				<div class="title-area">
					<div class="title-page">
						<h4 class="font-text-bold" data-aos="zoom-in">Our Agents</h4>
					</div>
				</div>
			</section>
			<section class="agents-listing">
				<div class="container">
					<div class="agents-content">
						<div class="wrapper">
							<div class="agent-list text-center">
								<div class="row justify-content-center no-gutters">
									<div class="col-6 col-md-3" data-aos="zoom-in">
										<div class="image-area">
											<figure>
												<a href="agent-detail.html">
													<div class="images" style="background-image: url('assets/img/graphics/dummy_person.png');"></div>
												</a>
											</figure>
										</div>
										<div class="name-area">
											<h5 class="font-text-bold">
												<a href="agent-detail.html">Omar Noviardi</a>
											</h5>
											<p>Principal</p>
										</div>
										<ul class="contact-area flat">
											<li class="contact-list">
												<a href="#">
													<span class="fa fa-whatsapp"></span>
												</a>
											</li>
											<li class="contact-list">
												<a href="#">
													<span class="far fa-envelope"></span>
												</a>
											</li>
										</ul>
									</div>
									<div class="col-6 col-md-3" data-aos="zoom-in">
										<div class="image-area">
											<figure>
												<a href="agent-detail.html">
													<div class="images" style="background-image: url('assets/img/graphics/dummy_person.png');"></div>
												</a>
											</figure>
										</div>
										<div class="name-area">
											<h5 class="font-text-bold">
												<a href="agent-detail.html">Amrina Alwis</a>
											</h5>
											<p>Agent</p>
										</div>
										<ul class="contact-area flat">
											<li class="contact-list">
												<a href="#">
													<span class="fa fa-whatsapp"></span>
												</a>
											</li>
											<li class="contact-list">
												<a href="#">
													<span class="far fa-envelope"></span>
												</a>
											</li>
										</ul>
									</div>
									<div class="col-6 col-md-3" data-aos="zoom-in">
										<div class="image-area">
											<figure>
												<a href="agent-detail.html">
													<div class="images" style="background-image: url('assets/img/graphics/dummy_person.png');"></div>
												</a>
											</figure>
										</div>
										<div class="name-area">
											<h5 class="font-text-bold">
												<a href="agent-detail.html">Willy Suib</a>
											</h5>
											<p>Agent</p>
										</div>
										<ul class="contact-area flat">
											<li class="contact-list">
												<a href="#">
													<span class="fa fa-whatsapp"></span>
												</a>
											</li>
											<li class="contact-list">
												<a href="#">
													<span class="far fa-envelope"></span>
												</a>
											</li>
										</ul>
									</div>
									<div class="col-6 col-md-3" data-aos="zoom-in">
										<div class="image-area">
											<figure>
												<a href="agent-detail.html">
													<div class="images" style="background-image: url('assets/img/graphics/dummy_person.png');"></div>
												</a>
											</figure>
										</div>
										<div class="name-area">
											<h5 class="font-text-bold">
												<a href="agent-detail.html">Irfan Dadi</a>
											</h5>
											<p>Agent</p>
										</div>
										<ul class="contact-area flat">
											<li class="contact-list">
												<a href="#">
													<span class="fa fa-whatsapp"></span>
												</a>
											</li>
											<li class="contact-list">
												<a href="#">
													<span class="far fa-envelope"></span>
												</a>
											</li>
										</ul>
									</div>
									<div class="col-6 col-md-3" data-aos="zoom-in">
										<div class="image-area">
											<figure>
												<a href="agent-detail.html">
													<div class="images" style="background-image: url('assets/img/graphics/dummy_person.png');"></div>
												</a>
											</figure>
										</div>
										<div class="name-area">
											<h5 class="font-text-bold">
												<a href="agent-detail.html">Omar Noviardi</a>
											</h5>
											<p>Principal</p>
										</div>
										<ul class="contact-area flat">
											<li class="contact-list">
												<a href="#">
													<span class="fa fa-whatsapp"></span>
												</a>
											</li>
											<li class="contact-list">
												<a href="#">
													<span class="far fa-envelope"></span>
												</a>
											</li>
										</ul>
									</div>
									<div class="col-6 col-md-3" data-aos="zoom-in">
										<div class="image-area">
											<figure>
												<a href="agent-detail.html">
													<div class="images" style="background-image: url('assets/img/graphics/dummy_person.png');"></div>
												</a>
											</figure>
										</div>
										<div class="name-area">
											<h5 class="font-text-bold">
												<a href="agent-detail.html">Amrina Alwis</a>
											</h5>
											<p>Agent</p>
										</div>
										<ul class="contact-area flat">
											<li class="contact-list">
												<a href="#">
													<span class="fa fa-whatsapp"></span>
												</a>
											</li>
											<li class="contact-list">
												<a href="#">
													<span class="far fa-envelope"></span>
												</a>
											</li>
										</ul>
									</div>
									<div class="col-6 col-md-3" data-aos="zoom-in">
										<div class="image-area">
											<figure>
												<a href="agent-detail.html">
													<div class="images" style="background-image: url('assets/img/graphics/dummy_person.png');"></div>
												</a>
											</figure>
										</div>
										<div class="name-area">
											<h5 class="font-text-bold">
												<a href="agent-detail.html">Willy Suib</a>
											</h5>
											<p>Agent</p>
										</div>
										<ul class="contact-area flat">
											<li class="contact-list">
												<a href="#">
													<span class="fa fa-whatsapp"></span>
												</a>
											</li>
											<li class="contact-list">
												<a href="#">
													<span class="far fa-envelope"></span>
												</a>
											</li>
										</ul>
									</div>
									<div class="col-6 col-md-3" data-aos="zoom-in">
										<div class="image-area">
											<figure>
												<a href="agent-detail.html">
													<div class="images" style="background-image: url('assets/img/graphics/dummy_person.png');"></div>
												</a>
											</figure>
										</div>
										<div class="name-area">
											<h5 class="font-text-bold">
												<a href="agent-detail.html">Irfan Dadi</a>
											</h5>
											<p>Agent</p>
										</div>
										<ul class="contact-area flat">
											<li class="contact-list">
												<a href="#">
													<span class="fa fa-whatsapp"></span>
												</a>
											</li>
											<li class="contact-list">
												<a href="#">
													<span class="far fa-envelope"></span>
												</a>
											</li>
										</ul>
									</div>
									<div class="col-6 col-md-3" data-aos="zoom-in">
										<div class="image-area">
											<figure>
												<a href="#">
													<div class="images" style="background-image: url('assets/img/graphics/dummy_person.png');"></div>
												</a>
											</figure>
										</div>
										<div class="name-area">
											<h5 class="font-text-bold">
												<a href="#">Omar Noviardi</a>
											</h5>
											<p>Principal</p>
										</div>
										<ul class="contact-area flat">
											<li class="contact-list">
												<a href="#">
													<span class="fa fa-whatsapp"></span>
												</a>
											</li>
											<li class="contact-list">
												<a href="#">
													<span class="far fa-envelope"></span>
												</a>
											</li>
										</ul>
									</div>
									<div class="col-6 col-md-3" data-aos="zoom-in">
										<div class="image-area">
											<figure>
												<a href="#">
													<div class="images" style="background-image: url('assets/img/graphics/dummy_person.png');"></div>
												</a>
											</figure>
										</div>
										<div class="name-area">
											<h5 class="font-text-bold">
												<a href="#">Amrina Alwis</a>
											</h5>
											<p>Agent</p>
										</div>
										<ul class="contact-area flat">
											<li class="contact-list">
												<a href="#">
													<span class="fa fa-whatsapp"></span>
												</a>
											</li>
											<li class="contact-list">
												<a href="#">
													<span class="far fa-envelope"></span>
												</a>
											</li>
										</ul>
									</div>
									<div class="col-6 col-md-3" data-aos="zoom-in">
										<div class="image-area">
											<figure>
												<a href="#">
													<div class="images" style="background-image: url('assets/img/graphics/dummy_person.png');"></div>
												</a>
											</figure>
										</div>
										<div class="name-area">
											<h5 class="font-text-bold">
												<a href="#">Willy Suib</a>
											</h5>
											<p>Agent</p>
										</div>
										<ul class="contact-area flat">
											<li class="contact-list">
												<a href="#">
													<span class="fa fa-whatsapp"></span>
												</a>
											</li>
											<li class="contact-list">
												<a href="#">
													<span class="far fa-envelope"></span>
												</a>
											</li>
										</ul>
									</div>
									<div class="col-6 col-md-3" data-aos="zoom-in">
										<div class="image-area">
											<figure>
												<a href="#">
													<div class="images" style="background-image: url('assets/img/graphics/dummy_person.png');"></div>
												</a>
											</figure>
										</div>
										<div class="name-area">
											<h5 class="font-text-bold">
												<a href="#">Irfan Dadi</a>
											</h5>
											<p>Agent</p>
										</div>
										<ul class="contact-area flat">
											<li class="contact-list">
												<a href="#">
													<span class="fa fa-whatsapp"></span>
												</a>
											</li>
											<li class="contact-list">
												<a href="#">
													<span class="far fa-envelope"></span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="floating-button" data-aos="zoom-in-left" data-aos-delay="600">
				<a class="font-text-bold" href="sell.html">
					Sell With Us
				</a>
			</div>
{% endblock %}