{% extends 'layouts/default.twig' %}
{% set body_class = 'join-page with-banner' %}
{% set head_title = 'Join Us' %}
{% block page %}
			<section class="banner-title">
				<div class="image-area" data-aos="fade-in">
					<div class="overlay"></div>
					<figure>
						<div class="images" style="background-image: url('assets/img/photos/image_4.jpg');"></div>
					</figure>
				</div>
				<div class="title-area">
					<div class="title-page">
						<h4 class="font-text-bold" data-aos="zoom-in">Join Us</h4>
					</div>
				</div>
			</section>
			<section class="join-view">
				<div class="container">
					<div class="join-content">
						<div class="wrapper" data-aos="fade-up">
							<div class="wording-content">
								<article>
									<h5>
										<strong>Team Opportunities</strong>
									</h5>
									<p>
										Be part of an exciting new online generation of Real Estate Professionals.
									</p>
									<p>
										When you become an <strong>ORIS</strong> Agent, you become part of a family of Agents dedicated to improving the real estate experience for buyers, sellers and agents. Learn more about how we empower agents with powerful online tools, centralised support and industry leading marketing services.
									</p>
									<p>Interested Working With Us? Sent your CV to :</p>
								</article>
							</div>
							<div class="contact-content">
								<div class="wrapper-content">
									<h6 class="label-title">Recruitment Info</h6>
									<div class="name-contact">
										<h5 class="font-text-bold">HR Department</h5>
										<h6>
											<a href="mailto:cs@orisproperty.com">
												<span class="icon far fa-envelope"></span>
												<span>cs@orisproperty.com</span>
											</a>
										</h6>
									</div>
									<ul class="flat button-area">
										<li>
											<a href="mailto:cs@orisproperty.com" class="button full-width font-text-bold">Mail</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="floating-button" data-aos="zoom-in-left" data-aos-delay="600">
				<a class="font-text-bold" href="sell.html">
					Sell With Us
				</a>
			</div>
{% endblock %}