{% extends 'layouts/default.twig' %}
{% set body_class = 'portofolio-page' %}
{% set head_title = 'Portofolio' %}
{% block page %}
			<section class="portofolio">
				<div class="container">
					<div class="title-section text-center">
						<h4 class="font-text-bold" data-aos="fade-in">
							<span>Portofolio</span>
						</h4>
					</div>
					<div class="portofolio-content margin-top" data-aos="fade-up">
						<ul class="filter-nav flat">
							<li>
								<button type="button" class="filter" data-filter="all">All</button>
							</li>
							<li>
								<button type="button" class="filter" data-filter=".web">Website</button>
							</li>
							<li>
								<button type="button" class="filter" data-filter=".logo">Logo</button>
							</li>
						</ul>
						<div class="portofolio-area">
							<div class="row no-gutters">
								<div class="col-md-12 mix web">
									<div class="box-wrapper">
										<div class="image-content">
											<img src="assets/img/thumbnails/thumb_12.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2020</span>
												</li>
											</ul>
											<h5 class="font-text-bold">Suzuki Tetap Melaju</h5>
											<p>
												Slicing a responsive campaign company website with custom Bootstrap CSS Framework.
											</p>
											<div class="button-area">
												<a href="https://suzukitetapmelaju.com/" target="_blank" class="cta">
													<span class="font-text-bold">View Website</span>
													<i class="icon-arrow"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 mix logo">
									<div class="box-wrapper logo-style">
										<div class="image-content">
											<img src="assets/img/logo/anduangona.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2020</span>
												</li>
											</ul>
											<h5 class="font-text-bold">Anduang Ona</h5>
										</div>
									</div>
								</div>
								<div class="col-md-6 mix logo">
									<div class="box-wrapper logo-style">
										<div class="image-content">
											<img src="assets/img/logo/maestro.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2020</span>
												</li>
											</ul>
											<h5 class="font-text-bold">Maestro - Coffee Supply</h5>
										</div>
									</div>
								</div>
								<div class="col-md-12 mix web">
									<div class="box-wrapper">
										<div class="image-content">
											<img src="assets/img/thumbnails/thumb_2.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2020</span>
												</li>
											</ul>
											<h5 class="font-text-bold">Unggul Sejati Indonesia</h5>
											<p>
												Slicing a responsive company website with custom Bootstrap CSS Framework.
											</p>
											<div class="button-area">
												<a href="http://unggulsejatiindonesia.com/" target="_blank" class="cta">
													<span class="font-text-bold">View Website</span>
													<i class="icon-arrow"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 mix logo">
									<div class="box-wrapper logo-style">
										<div class="image-content">
											<img src="assets/img/logo/cokistore.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2020</span>
												</li>
											</ul>
											<h5 class="font-text-bold">Coki Store</h5>
										</div>
									</div>
								</div>
								<div class="col-md-6 mix logo">
									<div class="box-wrapper logo-style">
										<div class="image-content">
											<img src="assets/img/logo/kartelkopi-roastery.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2020</span>
												</li>
											</ul>
											<h5 class="font-text-bold">Kartel Kopi - Coffee &amp; Roastery</h5>
										</div>
									</div>
								</div>
								<div class="col-md-6 mix logo">
									<div class="box-wrapper logo-style">
										<div class="image-content">
											<img src="assets/img/logo/kartelkopi-facemask.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2020</span>
												</li>
											</ul>
											<h5 class="font-text-bold">Kartel Kopi - Face Mask</h5>
										</div>
									</div>
								</div>
								<div class="col-md-6 mix logo">
									<div class="box-wrapper logo-style">
										<div class="image-content">
											<img src="assets/img/logo/dilara-patisserie.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2019</span>
												</li>
											</ul>
											<h5 class="font-text-bold">Dilara Patisserie</h5>
										</div>
									</div>
								</div>
								<div class="col-md-12 mix web">
									<div class="box-wrapper">
										<div class="image-content">
											<img src="assets/img/thumbnails/thumb_1.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2017</span>
												</li>
											</ul>
											<h5 class="font-text-bold">Telkomsel</h5>
											<p>
												Slicing a responsive company website with custom Bootstrap CSS Framework.
											</p>
											<div class="button-area">
												<a href="http://telkomsel.com" target="_blank" class="cta">
													<span class="font-text-bold">View Website</span>
													<i class="icon-arrow"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12 mix web">
									<div class="box-wrapper">
										<div class="image-content">
											<img src="assets/img/thumbnails/thumb_3.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2017</span>
												</li>
											</ul>
											<h5 class="font-text-bold">Degung Hillside</h5>
											<p>
												Slicing a responsive property website with custom Bootstrap CSS Framework.
											</p>
											<div class="button-area">
												<a href="http://www.degunghillside.com/" target="_blank" class="cta">
													<span class="font-text-bold">View Website</span>
													<i class="icon-arrow"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12 mix web">
									<div class="box-wrapper">
										<div class="image-content">
											<img src="assets/img/thumbnails/thumb_4.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2017</span>
												</li>
											</ul>
											<h5 class="font-text-bold">Simply Authentic</h5>
											<p>
												Slicing a responsive social media website with custom bootstrap CSS Framework.
											</p>
										</div>
									</div>
								</div>
								<div class="col-md-12 mix web">
									<div class="box-wrapper">
										<div class="image-content">
											<img src="assets/img/thumbnails/thumb_6.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2017</span>
												</li>
											</ul>
											<h5 class="font-text-bold">LA Zone Live Bold</h5>
											<p>
												Slicing a responsive campaign company website with custom bootstrap CSS Framework.
											</p>
											<div class="button-area">
												<a href="https://www.lazone.id/livebold" target="_blank" class="cta">
													<span class="font-text-bold">View Website</span>
													<i class="icon-arrow"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12 mix web">
									<div class="box-wrapper">
										<div class="image-content">
											<img src="assets/img/thumbnails/thumb_7.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2017</span>
												</li>
											</ul>
											<h5 class="font-text-bold">SALT</h5>
											<p>
												Slicing a responsive company website with custom bootstrap CSS Framework.
											</p>
											<div class="button-area">
												<a href="http://www.salt.id/" target="_blank" class="cta">
													<span class="font-text-bold">View Website</span>
													<i class="icon-arrow"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12 mix web">
									<div class="box-wrapper">
										<div class="image-content">
											<img src="assets/img/thumbnails/thumb_8.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2017</span>
												</li>
											</ul>
											<h5 class="font-text-bold">Quay Diagnostic Project</h5>
											<p>
												Slicing a responsive company website with custom bootstrap CSS Framework.
											</p>
										</div>
									</div>
								</div>
								<div class="col-md-12 mix web">
									<div class="box-wrapper">
										<div class="image-content">
											<img src="assets/img/thumbnails/thumb_9.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2016</span>
												</li>
											</ul>
											<h5 class="font-text-bold">Triangle Nine</h5>
											<p>
												Slicing a responsive clothing website with custom bootstrap CSS Framework.
											</p>
										</div>
									</div>
								</div>
								<div class="col-md-12 mix web">
									<div class="box-wrapper">
										<div class="image-content">
											<img src="assets/img/thumbnails/thumb_5.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2016</span>
												</li>
											</ul>
											<h5 class="font-text-bold">Smart Plus</h5>
											<p>
												Slicing a responsive company website with custom bootstrap CSS Framework.
											</p>
										</div>
									</div>
								</div>
								<div class="col-md-12 mix web">
									<div class="box-wrapper">
										<div class="image-content">
											<img src="assets/img/thumbnails/thumb_11.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2016</span>
												</li>
											</ul>
											<h5 class="font-text-bold">Kehati</h5>
											<p>
												Slicing a responsive company website with custom bootstrap CSS Framework.
											</p>
											<div class="button-area">
												<a href="https://kehati.or.id" target="_blank" class="cta">
													<span class="font-text-bold">View Website</span>
													<i class="icon-arrow"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 mix logo">
									<div class="box-wrapper logo-style">
										<div class="image-content">
											<img src="assets/img/logo/otobilazz.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2016</span>
												</li>
											</ul>
											<h5 class="font-text-bold">Otobilazz</h5>
										</div>
									</div>
								</div>
								<div class="col-md-6 mix logo">
									<div class="box-wrapper logo-style">
										<div class="image-content">
											<img src="assets/img/logo/7miles.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2016</span>
												</li>
											</ul>
											<h5 class="font-text-bold">7 Miles</h5>
										</div>
									</div>
								</div>
								<div class="col-md-12 mix web">
									<div class="box-wrapper">
										<div class="image-content">
											<img src="assets/img/thumbnails/thumb_10.png" alt="">
										</div>
										<div class="desc-content">
											<ul class="flat tag">
												<li>
													<span class="font-text-bold">2015</span>
												</li>
											</ul>
											<h5 class="font-text-bold">KPK - e Learning Gratifikasi</h5>
											<p>
												Slicing a company website with custom bootstrap CSS Framework.
											</p>
											<div class="button-area">
												<a href="http://www.kpk.go.id/gratifikasi" target="_blank" class="cta">
													<span class="font-text-bold">View Website</span>
													<i class="icon-arrow"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}