{% extends 'layouts/default.twig' %}
{% set body_class = 'project-page' %}
{% set head_title = 'Project' %}
{% block page %}
			<section class="project-listing">
				<div class="container">
					<div class="title-page">
						<h4 class="font-text-bold" data-aos="fade-right">Latest Projects</h4>
					</div>
					<div class="project-content">
						<div class="wrapper">
							<div class="row">
								<div class="col-md-6">
									<div class="project-thumbnail">
										<div class="project-image">
											<a href="project-detail.html">
												<figure>
													<div class="images" data-aos="zoom-in" style="background-image: url('assets/img/photos/image_9.jpg');"></div>
												</figure>
											</a>
										</div>
										<div class="project-info" data-aos="zoom-in" data-aos-delay="600">
											<p class="city">
												<span class="fa fa-map-marker-alt"></span>
												Kuningan, Jakarta Selatan
											</p>
											<h4 class="title font-text-bold">
												<a href="project-detail.html">Jakarta Resort Extension</a>
											</h4>
											<p class="startfrom">Start From</p>
											<h3 class="price font-text-bold">
												<sup>Rp</sup>1,1<sub>Milyar</sub>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="project-thumbnail">
										<div class="project-image">
											<a href="project-detail.html">
												<figure>
													<div class="images" data-aos="zoom-in" style="background-image: url('assets/img/photos/image_10.jpg');"></div>
												</figure>
											</a>
										</div>
										<div class="project-info" data-aos="zoom-in" data-aos-delay="600">
											<p class="city">
												<span class="fa fa-map-marker-alt"></span>
												Rungkut, Surabaya
											</p>
											<h4 class="title font-text-bold">
												<a href="project-detail.html">Surabaya Resort Extension</a>
											</h4>
											<p class="startfrom">Start From</p>
											<h3 class="price font-text-bold">
												<sup>Rp</sup>850<sub>Juta</sub>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="project-thumbnail">
										<div class="project-image">
											<a href="project-detail.html">
												<figure>
													<div class="images" data-aos="zoom-in" style="background-image: url('assets/img/photos/image_11.jpg');"></div>
												</figure>
											</a>
										</div>
										<div class="project-info" data-aos="zoom-in" data-aos-delay="600">
											<p class="city">
												<span class="fa fa-map-marker-alt"></span>
												Cihampelas, Bandung
											</p>
											<h4 class="title font-text-bold">
												<a href="project-detail.html">Bandung Resort Extension</a>
											</h4>
											<p class="startfrom">Start From</p>
											<h3 class="price font-text-bold">
												<sup>Rp</sup>900<sub>Juta</sub>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="project-thumbnail">
										<div class="project-image">
											<a href="project-detail.html">
												<figure>
													<div class="images" data-aos="zoom-in" style="background-image: url('assets/img/photos/image_3.jpg');"></div>
												</figure>
											</a>
										</div>
										<div class="project-info" data-aos="zoom-in" data-aos-delay="600">
											<p class="city">
												<span class="fa fa-map-marker-alt"></span>
												Kuta, Bali
											</p>
											<h4 class="title font-text-bold">
												<a href="project-detail.html">Bali Resort Extension</a>
											</h4>
											<p class="startfrom">Start From</p>
											<h3 class="price font-text-bold">
												<sup>Rp</sup>950<sub>Juta</sub>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="project-thumbnail">
										<div class="project-image">
											<a href="project-detail.html">
												<figure>
													<div class="images" data-aos="zoom-in" style="background-image: url('assets/img/photos/image_12.jpg');"></div>
												</figure>
											</a>
										</div>
										<div class="project-info" data-aos="zoom-in" data-aos-delay="600">
											<p class="city">
												<span class="fa fa-map-marker-alt"></span>
												Kuningan, Jakarta Selatan
											</p>
											<h4 class="title font-text-bold">
												<a href="project-detail.html">Jakarta Resort Extension</a>
											</h4>
											<p class="startfrom">Start From</p>
											<h3 class="price font-text-bold">
												<sup>Rp</sup>1,1<sub>Milyar</sub>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="project-thumbnail">
										<div class="project-image">
											<a href="project-detail.html">
												<figure>
													<div class="images" data-aos="zoom-in" style="background-image: url('assets/img/photos/image_13.jpg');"></div>
												</figure>
											</a>
										</div>
										<div class="project-info" data-aos="zoom-in" data-aos-delay="600">
											<p class="city">
												<span class="fa fa-map-marker-alt"></span>
												Rungkut, Surabaya
											</p>
											<h4 class="title font-text-bold">
												<a href="project-detail.html">Surabaya Resort Extension</a>
											</h4>
											<p class="startfrom">Start From</p>
											<h3 class="price font-text-bold">
												<sup>Rp</sup>850<sub>Juta</sub>
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<ul class="pagination justify-content-center">
						<li class="page-item disabled" data-aos="zoom-in">
							<a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-left"></i></a>
						</li>
						<li class="page-item active" data-aos="zoom-in">
							<a class="page-link" href="#">1</a>
						</li>
						<li class="page-item" data-aos="zoom-in">
							<a class="page-link" href="#">2</a>
						</li>
						<li class="page-item" data-aos="zoom-in">
							<a class="page-link" href="#">3</a>
						</li>
						<li class="page-item" data-aos="zoom-in">
							<a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
						</li>
					</ul>
				</div>
			</section>
{% endblock %}