{% extends 'layouts/default.twig' %}
{% set body_class = 'property-detail-page full-cover' %}
{% set head_title = 'Property Detail' %}
{% block page %}
			<section class="detail-with-video">
				<div class="detail-video-wrapper">
					<div class="video-portrait">
						<div class="video-fixed">
							<div class="video-area" data-aos="fade-in">
								<div class="customPlayer detailStyle" data-property="{
									videoURL:'P-qTs448Y5Y',
									containment:'self',
									showControls:false,
									loop:true,
									mute:true,
									startAt:10,
									stopAt:16,
									cc_load_policy:false,
									showYTLogo:false,
									optimizeDisplay:false,
									coverImage:'http://img.youtube.com/vi/P-qTs448Y5Y/0.jpg'
								}">
									<button class="muteButton" onclick="jQuery('.customPlayer.detailStyle').YTPToggleVolume()">
										<span class="fa fa-volume-off"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="gallery-detail">
						<div class="gallery-image">
							<div class="custom-container">
								<div class="gallery-slider" data-aos="fade-in">
									<div class="swiper-container">
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												<div class="wrapper">
													<div class="image-area selector" data-exthumbimage="assets/img/photos/image_5.jpg" data-src="assets/img/photos/image_5.jpg">
														<figure>
															<img src="assets/img/photos/image_5.jpg" alt="">
														</figure>
													</div>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="wrapper">
													<div class="image-area selector" data-exthumbimage="assets/img/photos/image_6.jpg" data-src="assets/img/photos/image_6.jpg">
														<figure>
															<img src="assets/img/photos/image_6.jpg" alt="">
														</figure>
													</div>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="wrapper">
													<div class="image-area selector" data-exthumbimage="assets/img/photos/image_7.jpg" data-src="assets/img/photos/image_7.jpg">
														<figure>
															<img src="assets/img/photos/image_7.jpg" alt="">
														</figure>
													</div>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="wrapper">
													<div class="image-area selector" data-exthumbimage="assets/img/photos/image_8.jpg" data-src="assets/img/photos/image_8.jpg">
														<figure>
															<img src="assets/img/photos/image_8.jpg" alt="">
														</figure>
													</div>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="wrapper">
													<div class="image-area selector" data-exthumbimage="assets/img/photos/image_9.jpg" data-src="assets/img/photos/image_9.jpg">
														<figure>
															<img src="assets/img/photos/image_9.jpg" alt="">
														</figure>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-custom-arrow swiper-button-prev"></div>
										<div class="swiper-custom-arrow swiper-button-next"></div>
										<div class="swiper-pagination"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="section-detail">
							<div class="custom-container">
								<div class="price-spec-area">
									<div class="price-area">
										<div class="badge-area">
											<span class="badge-tag orange font-text-bold" data-aos="zoom-in">Rent</span>
											<span class="badge-tag tosca font-text-bold" data-aos="zoom-in">Available</span>
											<span class="badge-tag orange-black font-text-bold" data-aos="zoom-in">Best Deal</span>
										</div>
										<div class="price-content-area">
											<h6 class="price-discount font-text-bold" data-aos="zoom-in">
												<span>
													<sup>Rp</sup>168<sub>.000.000.000</sub>
												</span>
											</h6>
											<h3 class="price font-text-bold" data-aos="zoom-in">
												<sup>IDR</sup>160<sub>.000.000.000</sub>
											</h3>
										</div>
										<div class="badge-area">
											<span class="badge-tag outline font-text-bold" data-aos="zoom-in">Monthly</span>
										</div>
									</div>
									<div class="desc-area">
										<ul class="flat">
											<li data-aos="zoom-in">
												<div class="wrapper-desc">
													<span class="icon fa fa-car"></span>
													<div class="info-spec">
														<label>Carport</label>
														<p class="font-text-bold">8</p>
													</div>
												</div>
											</li>
											<li data-aos="zoom-in">
												<div class="wrapper-desc">
													<span class="icon fa fa-vector-square"></span>
													<div class="info-spec">
														<label>Land</label>
														<p class="font-text-bold">2112 m<sup>2</sup></p>
													</div>
												</div>
											</li>
											<li data-aos="zoom-in">
												<div class="wrapper-desc">
													<span class="icon fa fa-building"></span>
													<div class="info-spec">
														<label>Building</label>
														<p class="font-text-bold">1200 m<sup>2</sup></p>
													</div>
												</div>
											</li>
											<li data-aos="zoom-in">
												<div class="wrapper-desc">
													<span class="icon fa fa-bed"></span>
													<div class="info-spec">
														<label>Bed</label>
														<p class="font-text-bold">9</p>
													</div>
												</div>
											</li>
											<li data-aos="zoom-in">
												<div class="wrapper-desc">
													<span class="icon fa fa-bath"></span>
													<div class="info-spec">
														<label>Bath</label>
														<p class="font-text-bold">9</p>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="detail-avatar">
									<div class="detail-area">
										<div class="title-area">
											<p class="city" data-aos="fade-in">
												<span class="fa fa-map-marker-alt"></span>
												Joglo, Jakarta Barat
											</p>
											<h4 class="title font-text-bold" data-aos="fade-in">Joglo Luxurious Modern Classic</h4>
										</div>
										<div class="detail-content-area">
											<div class="content" data-aos="fade-up">
												<article>
													<p>Halaman sangat luas, area exclusive Kedubes & Pejabat.</p>
													<p></p>
													<p>Luas Tanah 2.112 m2, Luas Bangunan 1.200 m2.</p>
													<ul>
														<li>
															Bangunan 2 Lantai.
														</li>
														<li>
															6 Kamar Tidur
														</li>
														<li>
															8 Kamar Mandi
														</li>
														<li>
															3 kamar pembantu
														</li>
														<li>
															1 kamar mandi pembantu
														</li>
														<li>
															1 pos security
														</li>
													</ul>
													<p></p>
													<p>Spec Mewah.</p>
													<p>NJOP : <strong>146 M</strong></p>
												</article>
											</div>
											<div class="feature">
												<h5 class="font-text-bold" data-aos="fade-in">Furnished</h5>
												<div class="feature-list row no-gutters">
													<div class="col-6 col-md-4">
														<div class="feature-wrapper" data-aos="zoom-in">
															<span class="icon-feature far fa-check-circle"></span>
															<span>Water Heater</span>
														</div>
													</div>
													<div class="col-6 col-md-4">
														<div class="feature-wrapper" data-aos="zoom-in">
															<span class="icon-feature far fa-check-circle"></span>
															<span>Backyard</span>
														</div>
													</div>
													<div class="col-6 col-md-4">
														<div class="feature-wrapper" data-aos="zoom-in">
															<span class="icon-feature far fa-check-circle"></span>
															<span>Air Conditioner</span>
														</div>
													</div>
													<div class="col-6 col-md-4">
														<div class="feature-wrapper" data-aos="zoom-in">
															<span class="icon-feature far fa-check-circle"></span>
															<span>Swimming  Pool</span>
														</div>
													</div>
												</div>
											</div>
											<div class="feature">
												<h5 class="font-text-bold" data-aos="fade-in">Selling Point</h5>
												<div class="feature-list row no-gutters">
													<div class="col-6 col-md-4">
														<div class="feature-wrapper" data-aos="zoom-in">
															<span class="icon-feature far fa-check-circle"></span>
															<span>Dalam Komplek</span>
														</div>
													</div>
													<div class="col-6 col-md-4">
														<div class="feature-wrapper" data-aos="zoom-in">
															<span class="icon-feature far fa-check-circle"></span>
															<span>Tenang & Aman</span>
														</div>
													</div>
													<div class="col-6 col-md-4">
														<div class="feature-wrapper" data-aos="zoom-in">
															<span class="icon-feature far fa-check-circle"></span>
															<span>5 Menit Toll Joglo</span>
														</div>
													</div>
													<div class="col-6 col-md-4">
														<div class="feature-wrapper" data-aos="zoom-in">
															<span class="icon-feature far fa-check-circle"></span>
															<span>5 Menit Mercubuana University Joglo</span>
														</div>
													</div>
													<div class="col-6 col-md-4">
														<div class="feature-wrapper" data-aos="zoom-in">
															<span class="icon-feature far fa-check-circle"></span>
															<span>10 Menit Budi Luhur University Joglo</span>
														</div>
													</div>
													<div class="col-6 col-md-4">
														<div class="feature-wrapper" data-aos="zoom-in">
															<span class="icon-feature far fa-check-circle"></span>
															<span>10 Menit Halte Transjakarta</span>
														</div>
													</div>
													<div class="col-6 col-md-4">
														<div class="feature-wrapper" data-aos="zoom-in">
															<span class="icon-feature far fa-check-circle"></span>
															<span>25 Menit Airport Soekarno Hatta</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="share-contact" data-aos="zoom-in" data-aos-delay="600">
									<div class="wrapper-share">
										<div class="profile-pic">
											<figure>
												<div class="images" style="background-image: url('assets/img/graphics/dummy_person.png');"></div>
											</figure>
										</div>
										<div class="name-area">
											<h5 class="font-text-bold">Muralino Sapta Nughara</h5>
											<p>Real Estate Agent</p>
										</div>
										<div class="button-area">
											<div class="button-list share-mobile">
												<div class="dropup">
													<button type="button" class="button icon-button full-rounded full-width" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<span class="fas fa-share-alt"></span>
													</button>
													<div class="dropdown-menu">
														<a class="dropdown-item" href="#">
															<span class="fab fa-facebook-f"></span>
															Facebook
														</a>
														<a class="dropdown-item" href="#">
															<span class="fab fa-twitter"></span>
															Twitter
														</a>
														<a class="dropdown-item" href="#">
															<span class="fab fa-whatsapp"></span>
															WhatsApp
														</a>
													</div>
												</div>
											</div>
											{# <div class="button-list call-mobile">
												<a href="#" class="button icon-button full-rounded full-width font-text-bold">
													<span class="fas fa-phone-alt"></span>
												</a>
											</div> #}
											<div class="button-list whatsapp-mobile">
												<a href="#" class="button icon-button full-rounded full-width font-text-bold">
													<span class="fab fa-whatsapp"></span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			 </section>
			<section class="thumbnails slider">
				<div class="title-section">
					<div class="container">
						<div class="wrapper">
							<h4 class="font-text-bold" data-aos="fade-right">Recent Property</h4>
							<div class="link-nav" data-aos="fade-left">
								<a href="properties.html" class="cta font-text-bold">
									<span>View All</span>
									<span class="icon-arrow"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="content-section">
					<div class="container">
						<div class="thumbnail-slider">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="thumb" data-aos="zoom-in">
											<div class="box">
												<div class="vid-area">
													<div class="vid-thumb">
														<div class="vid-box">
															<div class="customPlayer sliderStyle" data-property="{
																videoURL:'https://www.youtube.com/watch?v=U_DHsKXMq7g',
																containment:'self',
																showControls:false,
																loop:true,
																autoPlay:true,
																mute:true,
																startAt:10,
																stopAt:16,
																cc_load_policy:false,
																showYTLogo:false,
																optimizeDisplay:false,
																coverImage:'http://img.youtube.com/vi/U_DHsKXMq7g/0.jpg'
															}"></div>
															<span class="badge-tag large-tag green top-left font-text-bold">Sale</span>
															<span class="badge-tag blue bottom-right font-text-bold">House</span>
															<span class="badge-tag best-tag orange-black font-text-bold">Best Deal</span>
															<a class="click-area" href="property-detail.html"></a>
														</div>
													</div>
												</div>
												<div class="info-area">
													<div class="wrapper-info">
														<p class="city font-text-medium">
															<span class="fa fa-map-marker-alt"></span>
															Kuningan, Jakarta Selatan
														</p>
														<h4 class="title font-text-bold">
															<a href="property-detail.html">Tamarind Lane</a>
														</h4>
														<ul class="flat facilities">
															<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
																<span class="fa fa-vector-square"></span>
																<p class="font-text-medium">160 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
																<span class="fa fa-building"></span>
																<p class="font-text-medium">240 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
																<span class="fa fa-bed"></span>
																<p class="font-text-medium">4</p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
																<span class="fa fa-bath"></span>
																<p class="font-text-medium">2</p>
															</li>
														</ul>
														<h6 class="price-discount font-text-bold">
															<span>
																<sup>IDR</sup>168<sub>.000.000.000</sub>
															</span>
														</h6>
														<h3 class="price font-text-bold">
															<sup>IDR</sup>160<sub>.000.000.000</sub>
														</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="thumb" data-aos="zoom-in">
											<div class="box">
												<div class="vid-area">
													<div class="vid-thumb">
														<div class="vid-box">
															<div class="customPlayer sliderStyle" data-property="{
																videoURL:'https://www.youtube.com/watch?v=7l_DXTM7X5A',
																containment:'self',
																showControls:false,
																loop:true,
																mute:true,
																startAt:10,
																stopAt:16,
																cc_load_policy:false,
																showYTLogo:false,
																optimizeDisplay:false,
																coverImage:'http://img.youtube.com/vi/7l_DXTM7X5A/0.jpg'
															}"></div>
															<span class="badge-tag large-tag green top-left font-text-bold">Sale</span>
															<span class="badge-tag blue bottom-right font-text-bold">House</span>
															<span class="badge-tag best-tag orange-black font-text-bold">Best Deal</span>
															<a class="click-area" href="property-detail.html"></a>
														</div>
													</div>
												</div>
												<div class="info-area">
													<div class="wrapper-info">
														<p class="city font-text-medium">
															<span class="fa fa-map-marker-alt"></span>
															Kuningan, Jakarta Selatan
														</p>
														<h4 class="title font-text-bold">
															<a href="property-detail.html">Tamarind Lane</a>
														</h4>
														<ul class="flat facilities">
															<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
																<span class="fa fa-vector-square"></span>
																<p class="font-text-medium">160 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
																<span class="fa fa-building"></span>
																<p class="font-text-medium">240 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
																<span class="fa fa-bed"></span>
																<p class="font-text-medium">4</p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
																<span class="fa fa-bath"></span>
																<p class="font-text-medium">2</p>
															</li>
														</ul>
														<h6 class="price-discount font-text-bold">
															<span>
																<sup>IDR</sup>154<sub>.000.000.000</sub>
															</span>
														</h6>
														<h3 class="price font-text-bold">
															<sup>IDR</sup>150<sub>.000.000.000</sub>
														</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="thumb sold" data-aos="zoom-in">
											<div class="box">
												<div class="vid-area">
													<div class="vid-thumb">
														<div class="vid-box">
															<div class="customPlayer sliderStyle" data-property="{
																videoURL:'https://www.youtube.com/watch?v=Q9OI28kTeTA',
																containment:'self',
																showControls:false,
																loop:true,
																mute:true,
																startAt:10,
																stopAt:16,
																cc_load_policy:false,
																showYTLogo:false,
																optimizeDisplay:false,
																coverImage:'http://img.youtube.com/vi/Q9OI28kTeTA/0.jpg'
															}"></div>
															<span class="badge-tag large-tag green top-left font-text-bold">Sale</span>
															<span class="badge-tag blue bottom-right font-text-bold">House</span>
															<span class="badge-tag sold-tag red font-text-bold">Sold</span>
															<a class="click-area" href="property-detail.html"></a>
														</div>
													</div>
												</div>
												<div class="info-area">
													<div class="wrapper-info">
														<p class="city font-text-medium">
															<span class="fa fa-map-marker-alt"></span>
															Kuningan, Jakarta Selatan
														</p>
														<h4 class="title font-text-bold">
															<a href="property-detail.html">Tamarind Lane</a>
														</h4>
														<ul class="flat facilities">
															<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
																<span class="fa fa-vector-square"></span>
																<p class="font-text-medium">160 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
																<span class="fa fa-building"></span>
																<p class="font-text-medium">240 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
																<span class="fa fa-bed"></span>
																<p class="font-text-medium">4</p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
																<span class="fa fa-bath"></span>
																<p class="font-text-medium">2</p>
															</li>
														</ul>
														<h3 class="price font-text-bold">
															<sup>IDR</sup>160<sub>.000.000.000</sub>
														</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="thumb" data-aos="zoom-in">
											<div class="box">
												<div class="vid-area">
													<div class="vid-thumb">
														<div class="vid-box">
															<div class="customPlayer sliderStyle" data-property="{
																videoURL:'https://www.youtube.com/watch?v=Q9OI28kTeTA',
																containment:'self',
																showControls:false,
																loop:true,
																mute:true,
																startAt:10,
																stopAt:16,
																cc_load_policy:false,
																showYTLogo:false,
																optimizeDisplay:false,
																coverImage:'http://img.youtube.com/vi/Q9OI28kTeTA/0.jpg'
															}"></div>
															<span class="badge-tag large-tag orange top-left font-text-bold">Rent</span>
															<span class="badge-tag blue bottom-right font-text-bold">House</span>
															<a class="click-area" href="property-detail.html"></a>
														</div>
													</div>
												</div>
												<div class="info-area">
													<div class="wrapper-info">
														<p class="city font-text-medium">
															<span class="fa fa-map-marker-alt"></span>
															Kuningan, Jakarta Selatan
														</p>
														<h4 class="title font-text-bold">
															<a href="property-detail.html">Tamarind Lane</a>
														</h4>
														<ul class="flat facilities">
															<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
																<span class="fa fa-vector-square"></span>
																<p class="font-text-medium">160 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
																<span class="fa fa-building"></span>
																<p class="font-text-medium">240 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
																<span class="fa fa-bed"></span>
																<p class="font-text-medium">4</p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
																<span class="fa fa-bath"></span>
																<p class="font-text-medium">2</p>
															</li>
														</ul>
														<h3 class="price font-text-bold">
															<sup>IDR</sup>160<sub>.000.000.000</sub>
														</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="thumb" data-aos="zoom-in">
											<div class="box">
												<div class="vid-area">
													<div class="vid-thumb">
														<div class="vid-box">
															<div class="customPlayer sliderStyle" data-property="{
																videoURL:'https://www.youtube.com/watch?v=Q9OI28kTeTA',
																containment:'self',
																showControls:false,
																loop:true,
																mute:true,
																startAt:10,
																stopAt:16,
																cc_load_policy:false,
																showYTLogo:false,
																optimizeDisplay:false,
																coverImage:'http://img.youtube.com/vi/Q9OI28kTeTA/0.jpg'
															}"></div>
															<span class="badge-tag large-tag orange top-left font-text-bold">Rent</span>
															<span class="badge-tag blue bottom-right font-text-bold">House</span>
															<a class="click-area" href="property-detail.html"></a>
														</div>
													</div>
												</div>
												<div class="info-area">
													<div class="wrapper-info">
														<p class="city font-text-medium">
															<span class="fa fa-map-marker-alt"></span>
															Kuningan, Jakarta Selatan
														</p>
														<h4 class="title font-text-bold">
															<a href="property-detail.html">Tamarind Lane</a>
														</h4>
														<ul class="flat facilities">
															<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
																<span class="fa fa-vector-square"></span>
																<p class="font-text-medium">160 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
																<span class="fa fa-building"></span>
																<p class="font-text-medium">240 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
																<span class="fa fa-bed"></span>
																<p class="font-text-medium">4</p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
																<span class="fa fa-bath"></span>
																<p class="font-text-medium">2</p>
															</li>
														</ul>
														<h3 class="price font-text-bold">
															<sup>IDR</sup>160<sub>.000.000.000</sub>
														</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="navigation-wrapper" data-aos="fade-in">
									<div class="swiper-custom-arrow swiper-button-prev"></div>
									<div class="swiper-custom-arrow swiper-button-next"></div>
									<div class="swiper-scrollbar"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}