{% extends 'layouts/default.twig' %}
{% set body_class = 'property-detail-page' %}
{% set head_title = 'Property Detail' %}
{% block page %}
			<section class="gallery-image">
				<div class="gallery-slider">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="wrapper">
									<div class="image-area selector" data-exthumbimage="assets/img/photos/image_5.jpg" data-src="assets/img/photos/image_5.jpg">
										<figure>
											<img src="assets/img/photos/image_5.jpg" alt="">
										</figure>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="wrapper">
									<div class="image-area selector" data-exthumbimage="assets/img/photos/image_6.jpg" data-src="assets/img/photos/image_6.jpg">
										<figure>
											<img src="assets/img/photos/image_6.jpg" alt="">
										</figure>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="wrapper">
									<div class="image-area selector" data-exthumbimage="assets/img/photos/image_7.jpg" data-src="assets/img/photos/image_7.jpg">
										<figure>
											<img src="assets/img/photos/image_7.jpg" alt="">
										</figure>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="wrapper">
									<div class="image-area selector" data-exthumbimage="assets/img/photos/image_8.jpg" data-src="assets/img/photos/image_8.jpg">
										<figure>
											<img src="assets/img/photos/image_8.jpg" alt="">
										</figure>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="wrapper">
									<div class="image-area selector" data-exthumbimage="assets/img/photos/image_9.jpg" data-src="assets/img/photos/image_9.jpg">
										<figure>
											<img src="assets/img/photos/image_9.jpg" alt="">
										</figure>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-custom-arrow swiper-button-prev"></div>
						<div class="swiper-custom-arrow swiper-button-next"></div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</section>
{% endblock %}