{% extends 'layouts/default.twig' %}
{% set body_class = 'property-detail-page' %}
{% set head_title = 'Property Detail' %}
{% block page %}
			<section class="gallery-image">
				<div class="gallery-slider" data-aos="fade-in">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="wrapper">
									<div class="image-area selector" data-exthumbimage="assets/img/photos/image_5.jpg" data-src="assets/img/photos/image_5.jpg">
										<figure>
											<img src="assets/img/photos/image_5.jpg" alt="">
										</figure>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="wrapper">
									<div class="image-area selector" data-exthumbimage="assets/img/photos/image_6.jpg" data-src="assets/img/photos/image_6.jpg">
										<figure>
											<img src="assets/img/photos/image_6.jpg" alt="">
										</figure>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="wrapper">
									<div class="image-area selector" data-exthumbimage="assets/img/photos/image_7.jpg" data-src="assets/img/photos/image_7.jpg">
										<figure>
											<img src="assets/img/photos/image_7.jpg" alt="">
										</figure>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="wrapper">
									<div class="image-area selector" data-exthumbimage="assets/img/photos/image_8.jpg" data-src="assets/img/photos/image_8.jpg">
										<figure>
											<img src="assets/img/photos/image_8.jpg" alt="">
										</figure>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="wrapper">
									<div class="image-area selector" data-exthumbimage="assets/img/photos/image_9.jpg" data-src="assets/img/photos/image_9.jpg">
										<figure>
											<img src="assets/img/photos/image_9.jpg" alt="">
										</figure>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-custom-arrow swiper-button-prev"></div>
						<div class="swiper-custom-arrow swiper-button-next"></div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</section>
			<section class="section-detail">
				<div class="container">
					<div class="price-spec-area">
						<div class="price-area">
							<div class="badge-area">
								<span class="badge-tag orange font-text-bold" data-aos="zoom-in">Rent</span>
								<span class="badge-tag tosca font-text-bold" data-aos="zoom-in">Available</span>
								<span class="badge-tag orange-black font-text-bold" data-aos="zoom-in">Best Deal</span>
							</div>
							<div class="price-content-area">
								<h3 class="price font-text-bold" data-aos="zoom-in">
									<sup>Rp</sup>160<sub>Milyar</sub>
								</h3>
							</div>
							<div class="badge-area">
								<span class="badge-tag navy font-text-bold" data-aos="zoom-in">Monthly</span>
							</div>
						</div>
						<div class="desc-area">
							<div class="share-desktop show-desktop" data-aos="fade-in">
								<button type="button" class="button button-share-desktop full-rounded font-text-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="fas fa-share-alt"></span>
									Share
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">
										<span class="fab fa-facebook-f"></span>
										Facebook
									</a>
									<a class="dropdown-item" href="#">
										<span class="fab fa-twitter"></span>
										Twitter
									</a>
									<a class="dropdown-item" href="#">
										<span class="fab fa-whatsapp"></span>
										WhatsApp
									</a>
								</div>
							</div>
							<ul class="flat">
								<li data-aos="zoom-in">
									<div class="wrapper-desc">
										<span class="icon fa fa-car"></span>
										<div class="info-spec">
											<label>Carport</label>
											<p class="font-text-bold">8</p>
										</div>
									</div>
								</li>
								<li data-aos="zoom-in">
									<div class="wrapper-desc">
										<span class="icon fa fa-vector-square"></span>
										<div class="info-spec">
											<label>Land</label>
											<p class="font-text-bold">2112 m<sup>2</sup></p>
										</div>
									</div>
								</li>
								<li data-aos="zoom-in">
									<div class="wrapper-desc">
										<span class="icon fa fa-building"></span>
										<div class="info-spec">
											<label>Building</label>
											<p class="font-text-bold">1200 m<sup>2</sup></p>
										</div>
									</div>
								</li>
								<li data-aos="zoom-in">
									<div class="wrapper-desc">
										<span class="icon fa fa-bed"></span>
										<div class="info-spec">
											<label>Bed</label>
											<p class="font-text-bold">9</p>
										</div>
									</div>
								</li>
								<li data-aos="zoom-in">
									<div class="wrapper-desc">
										<span class="icon fa fa-bath"></span>
										<div class="info-spec">
											<label>Bath</label>
											<p class="font-text-bold">9</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="detail-avatar">
						<div class="row justify-content-center">
							<div class="col-lg-8 side-left">
								<div class="detail-area">
									<div class="title-area">
										<p class="city" data-aos="fade-right">
											<span class="fa fa-map-marker-alt"></span>
											Joglo, Jakarta Barat
										</p>
										<h4 class="title font-text-bold" data-aos="fade-right">Joglo Luxurious Modern Classic</h4>
									</div>
									<div class="detail-content-area">
										<div class="content" data-aos="fade-up">
											<article>
												<p>Halaman sangat luas, area exclusive Kedubes & Pejabat.</p>
												<p></p>
												<p>Luas Tanah 2.112 m2, Luas Bangunan 1.200 m2.</p>
												<ul>
													<li>
														Bangunan 2 Lantai.
													</li>
													<li>
														6 Kamar Tidur
													</li>
													<li>
														8 Kamar Mandi
													</li>
													<li>
														3 kamar pembantu
													</li>
													<li>
														1 kamar mandi pembantu
													</li>
													<li>
														1 pos security
													</li>
												</ul>
												<p></p>
												<p>Spec Mewah.</p>
												<p>NJOP : <strong>146 M</strong></p>
											</article>
										</div>
										<div class="feature">
											<h5 class="font-text-bold" data-aos="fade-in">Furnished</h5>
											<div class="feature-list row no-gutters">
												<div class="col-6 col-md-4">
													<div class="feature-wrapper" data-aos="zoom-in">
														<span class="icon-feature far fa-check-circle"></span>
														<span>Water Heater</span>
													</div>
												</div>
												<div class="col-6 col-md-4">
													<div class="feature-wrapper" data-aos="zoom-in">
														<span class="icon-feature far fa-check-circle"></span>
														<span>Backyard</span>
													</div>
												</div>
												<div class="col-6 col-md-4">
													<div class="feature-wrapper" data-aos="zoom-in">
														<span class="icon-feature far fa-check-circle"></span>
														<span>Air Conditioner</span>
													</div>
												</div>
												<div class="col-6 col-md-4">
													<div class="feature-wrapper" data-aos="zoom-in">
														<span class="icon-feature far fa-check-circle"></span>
														<span>Swimming  Pool</span>
													</div>
												</div>
											</div>
										</div>
										<div class="feature">
											<h5 class="font-text-bold" data-aos="fade-in">Selling Point</h5>
											<div class="feature-list row no-gutters">
												<div class="col-6 col-md-4">
													<div class="feature-wrapper" data-aos="zoom-in">
														<span class="icon-feature far fa-check-circle"></span>
														<span>Dalam Komplek</span>
													</div>
												</div>
												<div class="col-6 col-md-4">
													<div class="feature-wrapper" data-aos="zoom-in">
														<span class="icon-feature far fa-check-circle"></span>
														<span>Tenang & Aman</span>
													</div>
												</div>
												<div class="col-6 col-md-4">
													<div class="feature-wrapper" data-aos="zoom-in">
														<span class="icon-feature far fa-check-circle"></span>
														<span>5 Menit Toll Joglo</span>
													</div>
												</div>
												<div class="col-6 col-md-4">
													<div class="feature-wrapper" data-aos="zoom-in">
														<span class="icon-feature far fa-check-circle"></span>
														<span>5 Menit Mercubuana University Joglo</span>
													</div>
												</div>
												<div class="col-6 col-md-4">
													<div class="feature-wrapper" data-aos="zoom-in">
														<span class="icon-feature far fa-check-circle"></span>
														<span>10 Menit Budi Luhur University Joglo</span>
													</div>
												</div>
												<div class="col-6 col-md-4">
													<div class="feature-wrapper" data-aos="zoom-in">
														<span class="icon-feature far fa-check-circle"></span>
														<span>10 Menit Halte Transjakarta</span>
													</div>
												</div>
												<div class="col-6 col-md-4">
													<div class="feature-wrapper" data-aos="zoom-in">
														<span class="icon-feature far fa-check-circle"></span>
														<span>25 Menit Airport Soekarno Hatta</span>
													</div>
												</div>
											</div>
										</div>
										<div class="feature video-area">
											<h5 class="font-text-bold" data-aos="fade-in">Video</h5>
											<div class="video-list row no-gutters">
												<div class="col-6 col-md-6">
													<div class="video-wrapper">
														<div class="selector" data-src="https://www.youtube.com/watch?v=c1fooA5az7I" data-poster="http://img.youtube.com/vi/c1fooA5az7I/0.jpg" data-aos="zoom-in">
															<figure>
																<div class="images" style="background-image: url('http://img.youtube.com/vi/c1fooA5az7I/0.jpg');"></div>
															</figure>
															<div class="image-play">
																<span class="fas fa-play"></span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-6 col-md-6">
													<div class="video-wrapper">
														<div class="selector" data-src="https://www.youtube.com/embed/4bfgdyxGMQs" data-poster="http://img.youtube.com/vi/4bfgdyxGMQs/0.jpg" data-aos="zoom-in">
															<figure>
																<div class="images" style="background-image: url('http://img.youtube.com/vi/4bfgdyxGMQs/0.jpg');"></div>
															</figure>
															<div class="image-play">
																<span class="fas fa-play"></span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-7 col-lg-4 side-right">
								<div class="agent-contact" data-aos="zoom-in">
									<div class="avatar-area">
										<div class="avatar">
											<figure>
												<div class="images" style="background-image: url('assets/img/graphics/dummy_person.png');"></div>
											</figure>
										</div>
										<ul class="flat social-media">
											<li>
												<a href="#">
													<span class="fab fa-instagram"></span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="far fa-envelope"></span>
												</a>
											</li>
										</ul>
									</div>
									<div class="name-area">
										<h5 class="font-text-bold">Omar Noviardi</h5>
										<p>Principal</p>
									</div>
									<div class="show-number">
										<h6>
											Show Number
											<span class="fa fa-angle-down"></span>
										</h6>
										<h5 class="number font-text-bold">
											<a href="#">+62 812 1232 3213</a>
										</h5>
									</div>
									<ul class="flat button-area">
										<li>
											<a href="#" class="button full-width full-rounded font-text-bold">Call</a>
										</li>
										<li>
											<a href="#" class="button whatsapp full-width full-rounded font-text-bold">Whatsapp</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="share-contact show-mobile" data-aos="fade-up">
						<div class="wrapper-share">
							<div class="button-list share-mobile">
								<div class="dropup">
									<button type="button" class="button icon-button full-rounded full-width" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="fas fa-share-alt"></span>
									</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">
											<span class="fab fa-facebook-f"></span>
											Facebook
										</a>
										<a class="dropdown-item" href="#">
											<span class="fab fa-twitter"></span>
											Twitter
										</a>
										<a class="dropdown-item" href="#">
											<span class="fab fa-whatsapp"></span>
											WhatsApp
										</a>
									</div>
								</div>
							</div>
							<div class="button-list call-mobile">
								<a href="#" class="button icon-button full-rounded full-width font-text-bold">
									<span class="fas fa-phone-alt"></span>
								</a>
							</div>
							<div class="button-list whatsapp-mobile">
								<a href="#" class="button icon-button full-rounded full-width font-text-bold">
									<span class="fab fa-whatsapp"></span>
									Whatsapp
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="thumbnails slider">
				<div class="title-section">
					<div class="container">
						<div class="wrapper">
							<h4 class="font-text-bold" data-aos="fade-right">Recent Property</h4>
							<div class="link-nav" data-aos="fade-left">
								<a href="properties.html" class="cta font-text-bold">
									<span>View All</span>
									<span class="icon-arrow"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="content-section">
					<div class="container">
						<div class="thumbnail-slider">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="thumb" data-aos="zoom-in">
											<div class="box">
												<div class="image-area">
													<a href="property-detail.html">
														<figure>
															<div class="images" style="background-image: url('assets/img/photos/image_1.jpg');"></div>
														</figure>
														<span class="badge-tag green top-left font-text-bold">Sale</span>
														<span class="badge-tag blue bottom-right font-text-bold">House</span>
														<span class="badge-tag best-tag orange-black font-text-bold">Best Deal</span>
													</a>
												</div>
												<div class="info-area">
													<div class="wrapper-info">
														<p class="city font-text-medium">
															<span class="fa fa-map-marker-alt"></span>
															Kuningan, Jakarta Selatan
														</p>
														<h4 class="title font-text-bold">
															<a href="property-detail.html">Tamarind Lane</a>
														</h4>
														<ul class="flat facilities">
															<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
																<span class="fa fa-vector-square"></span>
																<p class="font-text-medium">160 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
																<span class="fa fa-building"></span>
																<p class="font-text-medium">240 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
																<span class="fa fa-bed"></span>
																<p class="font-text-medium">4</p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
																<span class="fa fa-bath"></span>
																<p class="font-text-medium">2</p>
															</li>
														</ul>
														<h3 class="price font-text-bold">
															<sup>Rp</sup>160<sub>Milyar</sub>
														</h3>
														<h6 class="price-discount font-text-bold">
															<span>
																<sup>Rp</sup>168<sub>Milyar</sub>
															</span>
														</h6>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="thumb" data-aos="zoom-in">
											<div class="box">
												<div class="image-area">
													<a href="property-detail.html">
														<figure>
															<div class="images" style="background-image: url('assets/img/photos/image_2.jpg');"></div>
														</figure>
														<span class="badge-tag green top-left font-text-bold">Sale</span>
														<span class="badge-tag blue bottom-right font-text-bold">House</span>
													</a>
												</div>
												<div class="info-area">
													<div class="wrapper-info">
														<p class="city font-text-medium">
															<span class="fa fa-map-marker-alt"></span>
															Kuningan, Jakarta Selatan
														</p>
														<h4 class="title font-text-bold">
															<a href="property-detail.html">Tamarind Lane</a>
														</h4>
														<ul class="flat facilities">
															<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
																<span class="fa fa-vector-square"></span>
																<p class="font-text-medium">160 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
																<span class="fa fa-building"></span>
																<p class="font-text-medium">240 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
																<span class="fa fa-bed"></span>
																<p class="font-text-medium">4</p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
																<span class="fa fa-bath"></span>
																<p class="font-text-medium">2</p>
															</li>
														</ul>
														<h3 class="price font-text-bold">
															<sup>Rp</sup>160<sub>Milyar</sub>
														</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="thumb sold" data-aos="zoom-in">
											<div class="box">
												<div class="image-area">
													<a href="property-detail.html">
														<figure>
															<div class="images" style="background-image: url('assets/img/photos/image_7.jpg');"></div>
														</figure>
														<span class="badge-tag green top-left font-text-bold">Sale</span>
														<span class="badge-tag blue bottom-right font-text-bold">House</span>
														<span class="badge-tag sold-tag red font-text-bold">Sold</span>
													</a>
												</div>
												<div class="info-area">
													<div class="wrapper-info">
														<p class="city font-text-medium">
															<span class="fa fa-map-marker-alt"></span>
															Kuningan, Jakarta Selatan
														</p>
														<h4 class="title font-text-bold">
															<a href="property-detail.html">Tamarind Lane</a>
														</h4>
														<ul class="flat facilities">
															<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
																<span class="fa fa-vector-square"></span>
																<p class="font-text-medium">160 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
																<span class="fa fa-building"></span>
																<p class="font-text-medium">240 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
																<span class="fa fa-bed"></span>
																<p class="font-text-medium">4</p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
																<span class="fa fa-bath"></span>
																<p class="font-text-medium">2</p>
															</li>
														</ul>
														<h3 class="price font-text-bold">
															<sup>Rp</sup>160<sub>Milyar</sub>
														</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="thumb" data-aos="zoom-in">
											<div class="box">
												<div class="image-area">
													<a href="property-detail.html">
														<figure>
															<div class="images" style="background-image: url('assets/img/photos/image_8.jpg');"></div>
														</figure>
														<span class="badge-tag orange top-left font-text-bold">Rent</span>
														<span class="badge-tag blue bottom-right font-text-bold">House</span>
													</a>
												</div>
												<div class="info-area">
													<div class="wrapper-info">
														<p class="city font-text-medium">
															<span class="fa fa-map-marker-alt"></span>
															Kuningan, Jakarta Selatan
														</p>
														<h4 class="title font-text-bold">
															<a href="property-detail.html">Tamarind Lane</a>
														</h4>
														<ul class="flat facilities">
															<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
																<span class="fa fa-vector-square"></span>
																<p class="font-text-medium">160 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
																<span class="fa fa-building"></span>
																<p class="font-text-medium">240 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
																<span class="fa fa-bed"></span>
																<p class="font-text-medium">4</p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
																<span class="fa fa-bath"></span>
																<p class="font-text-medium">2</p>
															</li>
														</ul>
														<h3 class="price font-text-bold">
															<sup>Rp</sup>160<sub>Milyar</sub>
														</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="thumb" data-aos="zoom-in">
											<div class="box">
												<div class="image-area">
													<a href="property-detail.html">
														<figure>
															<div class="images" style="background-image: url('assets/img/photos/image_9.jpg');"></div>
														</figure>
														<span class="badge-tag green top-left font-text-bold">Sale</span>
														<span class="badge-tag blue bottom-right font-text-bold">House</span>
													</a>
												</div>
												<div class="info-area">
													<div class="wrapper-info">
														<p class="city font-text-medium">
															<span class="fa fa-map-marker-alt"></span>
															Kuningan, Jakarta Selatan
														</p>
														<h4 class="title font-text-bold">
															<a href="property-detail.html">Tamarind Lane</a>
														</h4>
														<ul class="flat facilities">
															<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
																<span class="fa fa-vector-square"></span>
																<p class="font-text-medium">160 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
																<span class="fa fa-building"></span>
																<p class="font-text-medium">240 m<sup>2</sup></p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
																<span class="fa fa-bed"></span>
																<p class="font-text-medium">4</p>
															</li>
															<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
																<span class="fa fa-bath"></span>
																<p class="font-text-medium">2</p>
															</li>
														</ul>
														<h3 class="price font-text-bold">
															<sup>Rp</sup>160<sub>Milyar</sub>
														</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="navigation-wrapper" data-aos="fade-in">
									<div class="swiper-custom-arrow swiper-button-prev"></div>
									<div class="swiper-custom-arrow swiper-button-next"></div>
									<div class="swiper-scrollbar"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}