{% extends 'layouts/default.twig' %}
{% set body_class = 'properties-page' %}
{% set head_title = 'Properties' %}
{% block page %}
			<nav class="filter-navbar">
				<div class="container-fluid" data-aos="fade-in">
					<form action="">
						<div class="wrapper">
							<ul class="flat side-left">
								<li>
									<div class="search-nav">
										<input type="text" name="property_input_city" class="form-control simple-search" id="property-search" placeholder="Search...">
										<input type="hidden" name="property_input_city_hidden" id="property-search-hidden">
										<button class="button with-icon" type="submit">
											<span class="fa fa-search"></span>
										</button>
									</div>
								</li>
								<li class="show-desktop">
									<div class="form-group">
										<select class="form-control" id="input-property-type-nav" name="input-property-type">
											<option value="" class="placeholder" hidden>Property Type</option>
											<option value="Rumah">Rumah</option>
											<option value="Apartemen">Apartemen</option>
											<option value="Tanah">Tanah</option>
										</select>
									</div>
								</li>
								<li class="show-desktop">
									<div class="form-group">
										<select class="form-control" id="input-bedroom-nav" name="input-bedroom">
											<option value="" class="placeholder" hidden>Bedroom</option>
											<option value="1 Bedroom">1 Bedroom</option>
											<option value="2 Bedroom">2 Bedroom</option>
											<option value="3 Bedroom">3 Bedroom</option>
											<option value="4 Bedroom">4 Bedroom</option>
										</select>
									</div>
								</li>
								<li class="show-desktop">
									<div class="form-group">
										<select class="form-control" id="input-bathroom-nav" name="input-bathroom">
											<option value="" class="placeholder" hidden>Bathroom</option>
											<option value="1 Bathroom">1 Bathroom</option>
											<option value="2 Bathroom">2 Bathroom</option>
											<option value="3 Bathroom">3 Bathroom</option>
											<option value="4 Bathroom">4 Bathroom</option>
										</select>
									</div>
								</li>
							</ul>
							<ul class="flat side-right">
								<li class="show-desktop">
									<div class="form-group">
										<select class="form-control" id="input-bedroom-nav" name="input-bedroom">
											<option value="" class="placeholder" hidden>Sort</option>
											<option value="Newest">Newest</option>
											<option value="Lowest">Price: Lowest</option>
											<option value="Highest">Price: Highest</option>
										</select>
									</div>
								</li>
								{# <li>
									<button type="button" class="button button-filter full-rounded" data-toggle="modal" data-target="#modal-filter">
										<span class="fas fa-sliders-h"></span>
										Filter
									</button>
								</li> #}
							</ul>
						</div>
					</form>
				</div>
			</nav>
			<section class="properties-listing">
				<div class="container">
					<div class="title-page">
						<h4 class="font-text-bold" data-aos="fade-right">Properties</h4>
					</div>
					<div class="properties-content">
						<div class="wrapper">
							<div class="row">
								<div class="col-md-6 col-lg-4">
									<div class="thumb pinned" data-aos="zoom-in">
										<div class="box">
											<span class="icon-pin fa fa-thumbtack"></span>
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'9md3cBx64kU',
															containment:'self',
															showControls:false,
															loop:true,
															startAt:10,
															stopAt:16,
															cc_load_policy:false,
															showYTLogo:false,
															optimizeDisplay:false,
															coverImage:'assets/img/photos/image_19.jpg'
														}"></div>
														<span class="badge-tag large-tag green top-left font-text-bold">Sale</span>
														<span class="badge-tag blue bottom-right font-text-bold">House</span>
														<span class="badge-tag best-tag orange-black font-text-bold">Best Deal</span>
														<a class="click-area" href="property-detail.html"></a>
													</div>
												</div>
											</div>
											<div class="info-area">
												<div class="wrapper-info">
													<p class="city font-text-medium">
														<span class="fa fa-map-marker-alt"></span>
														Kuningan, Jakarta Selatan
													</p>
													<h4 class="title font-text-bold">
														<a href="property-detail.html">Luxurious Modern Design</a>
													</h4>
													<ul class="flat facilities">
														<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
															<span class="fa fa-vector-square"></span>
															<p class="font-text-medium">160 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
															<span class="fa fa-building"></span>
															<p class="font-text-medium">240 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
															<span class="fa fa-bed"></span>
															<p class="font-text-medium">4</p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
															<span class="fa fa-bath"></span>
															<p class="font-text-medium">2</p>
														</li>
													</ul>
													<h6 class="price-discount font-text-bold">
														<span>
															<sup>IDR</sup>168<sub>.000.000.000</sub>
														</span>
													</h6>
													<h3 class="price font-text-bold">
														<sup>IDR</sup>160<sub>.000.000.000</sub>
													</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="box">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'oz8wjtUGJOA',
															containment:'self',
															showControls:false,
															loop:true,
															startAt:10,
															stopAt:16,
															cc_load_policy:false,
															showYTLogo:false,
															optimizeDisplay:false,
															coverImage:'assets/img/photos/image_20.jpg'
														}"></div>
														<span class="badge-tag large-tag green top-left font-text-bold">Sale</span>
														<span class="badge-tag blue bottom-right font-text-bold">House</span>
														<a class="click-area" href="property-detail.html"></a>
													</div>
												</div>
											</div>
											<div class="info-area">
												<div class="wrapper-info">
													<p class="city font-text-medium">
														<span class="fa fa-map-marker-alt"></span>
														Kuningan, Jakarta Selatan
													</p>
													<h4 class="title font-text-bold">
														<a href="property-detail.html">Luxurious Modern Design</a>
													</h4>
													<ul class="flat facilities">
														<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
															<span class="fa fa-vector-square"></span>
															<p class="font-text-medium">160 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
															<span class="fa fa-building"></span>
															<p class="font-text-medium">240 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
															<span class="fa fa-bed"></span>
															<p class="font-text-medium">4</p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
															<span class="fa fa-bath"></span>
															<p class="font-text-medium">2</p>
														</li>
													</ul>
													<h6 class="price-discount font-text-bold">
														<span>
															<sup>IDR</sup>168<sub>.000.000.000</sub>
														</span>
													</h6>
													<h3 class="price font-text-bold">
														<sup>IDR</sup>160<sub>.000.000.000</sub>
													</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="box">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'P-qTs448Y5Y',
															containment:'self',
															showControls:false,
															loop:true,
															startAt:10,
															stopAt:16,
															cc_load_policy:false,
															showYTLogo:false,
															optimizeDisplay:false,
															coverImage:'assets/img/photos/image_21.jpg'
														}"></div>
														<span class="badge-tag large-tag green top-left font-text-bold">Sale</span>
														<span class="badge-tag blue bottom-right font-text-bold">House</span>
														<a class="click-area" href="property-detail.html"></a>
													</div>
												</div>
											</div>
											<div class="info-area">
												<div class="wrapper-info">
													<p class="city font-text-medium">
														<span class="fa fa-map-marker-alt"></span>
														Kuningan, Jakarta Selatan
													</p>
													<h4 class="title font-text-bold">
														<a href="property-detail.html">Tamarind Lane</a>
													</h4>
													<ul class="flat facilities">
														<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
															<span class="fa fa-vector-square"></span>
															<p class="font-text-medium">160 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
															<span class="fa fa-building"></span>
															<p class="font-text-medium">240 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
															<span class="fa fa-bed"></span>
															<p class="font-text-medium">4</p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
															<span class="fa fa-bath"></span>
															<p class="font-text-medium">2</p>
														</li>
													</ul>
													<h3 class="price font-text-bold">
														<sup>IDR</sup>160<sub>.000.000.000</sub>
													</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="box">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'Q9OI28kTeTA',
															containment:'self',
															showControls:false,
															loop:true,
															startAt:10,
															stopAt:16,
															cc_load_policy:false,
															showYTLogo:false,
															optimizeDisplay:false,
															coverImage:'assets/img/photos/image_22.jpg'
														}"></div>
														<span class="badge-tag large-tag green top-left font-text-bold">Sale</span>
														<span class="badge-tag blue bottom-right font-text-bold">House</span>
														<a class="click-area" href="property-detail.html"></a>
													</div>
												</div>
											</div>
											<div class="info-area">
												<div class="wrapper-info">
													<p class="city font-text-medium">
														<span class="fa fa-map-marker-alt"></span>
														Kuningan, Jakarta Selatan
													</p>
													<h4 class="title font-text-bold">
														<a href="property-detail.html">Luxurious Classic Design</a>
													</h4>
													<ul class="flat facilities">
														<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
															<span class="fa fa-vector-square"></span>
															<p class="font-text-medium">160 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
															<span class="fa fa-building"></span>
															<p class="font-text-medium">240 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
															<span class="fa fa-bed"></span>
															<p class="font-text-medium">4</p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
															<span class="fa fa-bath"></span>
															<p class="font-text-medium">2</p>
														</li>
													</ul>
													<h3 class="price font-text-bold">
														<sup>IDR</sup>160<sub>.000.000.000</sub>
													</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4">
									<div class="thumb sold" data-aos="zoom-in">
										<div class="box">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'7l_DXTM7X5A',
															containment:'self',
															showControls:false,
															loop:true,
															startAt:10,
															stopAt:16,
															cc_load_policy:false,
															showYTLogo:false,
															optimizeDisplay:false,
															coverImage:'assets/img/photos/image_18.jpg'
														}"></div>
														<span class="badge-tag large-tag green top-left font-text-bold">Sale</span>
														<span class="badge-tag blue bottom-right font-text-bold">House</span>
														<span class="badge-tag sold-tag red font-text-bold">Sold</span>
														<a class="click-area" href="property-detail.html"></a>
													</div>
												</div>
											</div>
											<div class="info-area">
												<div class="wrapper-info">
													<p class="city font-text-medium">
														<span class="fa fa-map-marker-alt"></span>
														Kuningan, Jakarta Selatan
													</p>
													<h4 class="title font-text-bold">
														<a href="property-detail.html">Tamarind Lane</a>
													</h4>
													<ul class="flat facilities">
														<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
															<span class="fa fa-vector-square"></span>
															<p class="font-text-medium">160 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
															<span class="fa fa-building"></span>
															<p class="font-text-medium">240 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
															<span class="fa fa-bed"></span>
															<p class="font-text-medium">4</p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
															<span class="fa fa-bath"></span>
															<p class="font-text-medium">2</p>
														</li>
													</ul>
													<h3 class="price font-text-bold">
														<sup>IDR</sup>160<sub>.000.000.000</sub>
													</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="box">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'9veJpLbh7YM',
															containment:'self',
															showControls:false,
															loop:true,
															startAt:10,
															stopAt:16,
															cc_load_policy:false,
															showYTLogo:false,
															optimizeDisplay:false,
															coverImage:'assets/img/photos/image_16.jpg'
														}"></div>
														<span class="badge-tag large-tag green top-left font-text-bold">Sale</span>
														<span class="badge-tag blue bottom-right font-text-bold">House</span>
														<a class="click-area" href="property-detail.html"></a>
													</div>
												</div>
											</div>
											<div class="info-area">
												<div class="wrapper-info">
													<p class="city font-text-medium">
														<span class="fa fa-map-marker-alt"></span>
														Kuningan, Jakarta Selatan
													</p>
													<h4 class="title font-text-bold">
														<a href="property-detail.html">Luxurious Modern Design</a>
													</h4>
													<ul class="flat facilities">
														<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
															<span class="fa fa-vector-square"></span>
															<p class="font-text-medium">160 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
															<span class="fa fa-building"></span>
															<p class="font-text-medium">240 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
															<span class="fa fa-bed"></span>
															<p class="font-text-medium">4</p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
															<span class="fa fa-bath"></span>
															<p class="font-text-medium">2</p>
														</li>
													</ul>
													<h3 class="price font-text-bold">
														<sup>IDR</sup>160<sub>.000.000.000</sub>
													</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="box">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'I9zBliEA2Cs',
															containment:'self',
															showControls:false,
															loop:true,
															startAt:10,
															stopAt:16,
															cc_load_policy:false,
															showYTLogo:false,
															optimizeDisplay:false,
															coverImage:'assets/img/photos/image_14.jpg'
														}"></div>
														<span class="badge-tag large-tag green top-left font-text-bold">Sale</span>
														<span class="badge-tag blue bottom-right font-text-bold">House</span>
														<a class="click-area" href="property-detail.html"></a>
													</div>
												</div>
											</div>
											<div class="info-area">
												<div class="wrapper-info">
													<p class="city font-text-medium">
														<span class="fa fa-map-marker-alt"></span>
														Kuningan, Jakarta Selatan
													</p>
													<h4 class="title font-text-bold">
														<a href="property-detail.html">Tamarind Lane</a>
													</h4>
													<ul class="flat facilities">
														<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
															<span class="fa fa-vector-square"></span>
															<p class="font-text-medium">160 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
															<span class="fa fa-building"></span>
															<p class="font-text-medium">240 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
															<span class="fa fa-bed"></span>
															<p class="font-text-medium">4</p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
															<span class="fa fa-bath"></span>
															<p class="font-text-medium">2</p>
														</li>
													</ul>
													<h3 class="price font-text-bold">
														<sup>IDR</sup>160<sub>.000.000.000</sub>
													</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="box">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">]
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'GGCEgIKGHRA',
															containment:'self',
															showControls:false,
															loop:true,
															startAt:10,
															stopAt:16,
															cc_load_policy:false,
															showYTLogo:false,
															optimizeDisplay:false,
															coverImage:'assets/img/photos/image_15.jpg'
														}"></div>
														<span class="badge-tag large-tag green top-left font-text-bold">Sale</span>
														<span class="badge-tag blue bottom-right font-text-bold">House</span>
														<a class="click-area" href="property-detail.html"></a>
													</div>
												</div>
											</div>
											<div class="info-area">
												<div class="wrapper-info">
													<p class="city font-text-medium">
														<span class="fa fa-map-marker-alt"></span>
														Kuningan, Jakarta Selatan
													</p>
													<h4 class="title font-text-bold">
														<a href="property-detail.html">Luxurious Classic Design</a>
													</h4>
													<ul class="flat facilities">
														<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
															<span class="fa fa-vector-square"></span>
															<p class="font-text-medium">160 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
															<span class="fa fa-building"></span>
															<p class="font-text-medium">240 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
															<span class="fa fa-bed"></span>
															<p class="font-text-medium">4</p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
															<span class="fa fa-bath"></span>
															<p class="font-text-medium">2</p>
														</li>
													</ul>
													<h3 class="price font-text-bold">
														<sup>IDR</sup>160<sub>.000.000.000</sub>
													</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="box">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'uXrJ01XwlCQ',
															containment:'self',
															showControls:false,
															loop:true,
															startAt:10,
															stopAt:16,
															cc_load_policy:false,
															showYTLogo:false,
															optimizeDisplay:false,
															coverImage:'assets/img/photos/image_11.jpg'
														}"></div>
														<span class="badge-tag large-tag green top-left font-text-bold">Sale</span>
														<span class="badge-tag blue bottom-right font-text-bold">House</span>
														<a class="click-area" href="property-detail.html"></a>
													</div>
												</div>
											</div>
											<div class="info-area">
												<div class="wrapper-info">
													<p class="city font-text-medium">
														<span class="fa fa-map-marker-alt"></span>
														Kuningan, Jakarta Selatan
													</p>
													<h4 class="title font-text-bold">
														<a href="property-detail.html">Luxurious Modern Design</a>
													</h4>
													<ul class="flat facilities">
														<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
															<span class="fa fa-vector-square"></span>
															<p class="font-text-medium">160 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
															<span class="fa fa-building"></span>
															<p class="font-text-medium">240 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
															<span class="fa fa-bed"></span>
															<p class="font-text-medium">4</p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
															<span class="fa fa-bath"></span>
															<p class="font-text-medium">2</p>
														</li>
													</ul>
													<h3 class="price font-text-bold">
														<sup>IDR</sup>160<sub>.000.000.000</sub>
													</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="box">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'-tMIKxbibP4',
															containment:'self',
															showControls:false,
															loop:true,
															startAt:10,
															stopAt:16,
															cc_load_policy:false,
															showYTLogo:false,
															optimizeDisplay:false,
															coverImage:'assets/img/photos/image_7.jpg'
														}"></div>
														<span class="badge-tag large-tag green top-left font-text-bold">Sale</span>
														<span class="badge-tag blue bottom-right font-text-bold">House</span>
														<a class="click-area" href="property-detail.html"></a>
													</div>
												</div>
											</div>
											<div class="info-area">
												<div class="wrapper-info">
													<p class="city font-text-medium">
														<span class="fa fa-map-marker-alt"></span>
														Kuningan, Jakarta Selatan
													</p>
													<h4 class="title font-text-bold">
														<a href="property-detail.html">Tamarind Lane</a>
													</h4>
													<ul class="flat facilities">
														<li data-toggle="tooltip" data-placement="top" title="Luas Tanah">
															<span class="fa fa-vector-square"></span>
															<p class="font-text-medium">160 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Luas Bangunan">
															<span class="fa fa-building"></span>
															<p class="font-text-medium">240 m<sup>2</sup></p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Tidur">
															<span class="fa fa-bed"></span>
															<p class="font-text-medium">4</p>
														</li>
														<li data-toggle="tooltip" data-placement="top" title="Kamar Mandi">
															<span class="fa fa-bath"></span>
															<p class="font-text-medium">2</p>
														</li>
													</ul>
													<h3 class="price font-text-bold">
														<sup>IDR</sup>160<sub>.000.000.000</sub>
													</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<ul class="pagination justify-content-center">
						<li class="page-item disabled" data-aos="zoom-in">
							<a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-left"></i></a>
						</li>
						<li class="page-item active" data-aos="zoom-in">
							<a class="page-link" href="#">1</a>
						</li>
						<li class="page-item" data-aos="zoom-in">
							<a class="page-link" href="#">2</a>
						</li>
						<li class="page-item" data-aos="zoom-in">
							<span class="page-link dis-more">...</span>
						</li>
						{# <a href="#" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">...</a> #}
						<li class="page-item" data-aos="zoom-in">
							<a class="page-link" href="#">4</a>
						</li>
						<li class="page-item" data-aos="zoom-in">
							<a class="page-link" href="#">5</a>
						</li>
						<li class="page-item" data-aos="zoom-in">
							<a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
						</li>
					</ul>
				</div>
			</section>
			<div class="floating-button" data-aos="zoom-in-left" data-aos-delay="600">
				<a class="font-text-bold" href="sell.html">
					Sell With Us
				</a>
			</div>
{% endblock %}