{% extends 'layouts/default.twig' %}
{% set body_class = 'video-page' %}
{% set head_title = 'Video' %}
{% block page %}
			<section class="video-listing">
				<div class="container">
					<div class="title-page">
						<h4 class="font-text-bold" data-aos="fade-right">Latest Video</h4>
					</div>
					<div class="video-content">
						<div class="wrapper">
							<div class="row no-gutters">
								<div class="col-md-6 col-lg-6 col-xl-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="video-wrapper" data-aos="scroll-show">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="selector" data-src="https://www.youtube.com/watch?v=P-qTs448Y5Y" data-poster="http://img.youtube.com/vi/P-qTs448Y5Y/0.jpg">
														</div>
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'P-qTs448Y5Y',
															containment:'self',
															showControls:false,
															loop:true,
															startAt:10,
															stopAt:16,
															cc_load_policy:false,
															showYTLogo:false,
															optimizeDisplay:false,
															coverImage:'assets/img/photos/image_20.jpg'
														}"></div>
													</div>
												</div>
											</div>
											<div class="desc-area">
												<h4 class="font-text-bold" data-aos="fade-in" data-aos-delay="600">House Tour Pondok Indah, Rumah Baru Desain Mewah Modern Classic, Harga Rp 59 Miliar Nego</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-6 col-xl-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="video-wrapper" data-aos="scroll-show">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="selector" data-src="https://www.youtube.com/watch?v=c1fooA5az7I" data-poster="http://img.youtube.com/vi/c1fooA5az7I/0.jpg">
														</div>
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'https://www.youtube.com/watch?v=c1fooA5az7I',
															containment:'self',
															showControls:false,
															loop:true,
															startAt:10,
															stopAt:16,
															cc_load_policy:false,
															showYTLogo:false,
															optimizeDisplay:false,
															coverImage:'assets/img/photos/image_21.jpg'
														}"></div>
													</div>
												</div>
											</div>
											<div class="desc-area">
												<h4 class="font-text-bold" data-aos="fade-in" data-aos-delay="600">House Tour Pondok Indah, Rumah Baru Desain Mewah Modern Classic, Harga Rp 59 Miliar Nego</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-6 col-xl-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="video-wrapper">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="selector" data-src="https://www.youtube.com/watch?v=Q9OI28kTeTA" data-poster="http://img.youtube.com/vi/Q9OI28kTeTA/0.jpg">
														</div>
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'Q9OI28kTeTA',
															containment:'self',
															showControls:false,
															loop:true,
															startAt:10,
															stopAt:16,
															cc_load_policy:false,
															showYTLogo:false,
															optimizeDisplay:false,
															coverImage:'assets/img/photos/image_22.jpg'
														}"></div>
													</div>
												</div>
											</div>
											<div class="desc-area">
												<h4 class="font-text-bold" data-aos="fade-in" data-aos-delay="600">House Tour Pondok Indah, Rumah Baru Desain Mewah Modern Classic, Harga Rp 59 Miliar Nego</h4>
											</div>
										</div>
									</div>
								</div>
								{# <div class="col-md-6 col-lg-6 col-xl-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="video-wrapper">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="selector" data-src="https://www.youtube.com/watch?v=7l_DXTM7X5A" data-poster="http://img.youtube.com/vi/7l_DXTM7X5A/0.jpg">
														</div>
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'7l_DXTM7X5A',
															containment:'self',
															showControls:false,
															loop:true,
															mute:true,
															startAt:10,
															stopAt:16,
															optimizeDisplay:false,
															cc_load_policy:false,
															showYTLogo:false,
															coverImage:'http://img.youtube.com/vi/7l_DXTM7X5A/0.jpg'
														}"></div>
													</div>
												</div>
											</div>
											<div class="desc-area">
												<h4 class="font-text-bold" data-aos="fade-in" data-aos-delay="600">House Tour Pondok Indah, Rumah Baru Desain Mewah Modern Classic, Harga Rp 59 Miliar Nego</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-6 col-xl-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="video-wrapper">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="selector" data-src="https://www.youtube.com/watch?v=9veJpLbh7YM" data-poster="http://img.youtube.com/vi/9veJpLbh7YM/0.jpg">
														</div>
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'9veJpLbh7YM',
															containment:'self',
															showControls:false,
															loop:true,
															mute:true,
															startAt:10,
															stopAt:16,
															optimizeDisplay:false,
															coverImage:'http://img.youtube.com/vi/9veJpLbh7YM/0.jpg'
														}"></div>
													</div>
												</div>
											</div>
											<div class="desc-area">
												<h4 class="font-text-bold" data-aos="fade-in" data-aos-delay="600">House Tour Pondok Indah, Rumah Baru Desain Mewah Modern Classic, Harga Rp 59 Miliar Nego</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-6 col-xl-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="video-wrapper">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="selector" data-src="https://www.youtube.com/watch?v=I9zBliEA2Cs" data-poster="http://img.youtube.com/vi/I9zBliEA2Cs/0.jpg">
														</div>
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'I9zBliEA2Cs',
															containment:'self',
															showControls:false,
															loop:true,
															mute:true,
															startAt:10,
															stopAt:16,
															optimizeDisplay:false,
															coverImage:'http://img.youtube.com/vi/I9zBliEA2Cs/0.jpg'
														}"></div>
													</div>
												</div>
											</div>
											<div class="desc-area">
												<h4 class="font-text-bold" data-aos="fade-in" data-aos-delay="600">House Tour Pondok Indah, Rumah Baru Desain Mewah Modern Classic, Harga Rp 59 Miliar Nego</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-6 col-xl-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="video-wrapper">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="selector" data-src="https://www.youtube.com/watch?v=GGCEgIKGHRA" data-poster="http://img.youtube.com/vi/GGCEgIKGHRA/0.jpg">
														</div>
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'GGCEgIKGHRA',
															containment:'self',
															showControls:false,
															loop:true,
															mute:true,
															startAt:10,
															stopAt:16,
															optimizeDisplay:false,
															coverImage:'http://img.youtube.com/vi/GGCEgIKGHRA/0.jpg'
														}"></div>
													</div>
												</div>
											</div>
											<div class="desc-area">
												<h4 class="font-text-bold" data-aos="fade-in" data-aos-delay="600">House Tour Pondok Indah, Rumah Baru Desain Mewah Modern Classic, Harga Rp 59 Miliar Nego</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-6 col-xl-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="video-wrapper">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="selector" data-src="https://www.youtube.com/watch?v=uXrJ01XwlCQ" data-poster="http://img.youtube.com/vi/uXrJ01XwlCQ/0.jpg">
														</div>
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'uXrJ01XwlCQ',
															containment:'self',
															showControls:false,
															loop:true,
															mute:true,
															startAt:10,
															stopAt:16,
															optimizeDisplay:false,
															coverImage:'http://img.youtube.com/vi/uXrJ01XwlCQ/0.jpg'
														}"></div>
													</div>
												</div>
											</div>
											<div class="desc-area">
												<h4 class="font-text-bold" data-aos="fade-in" data-aos-delay="600">House Tour Pondok Indah, Rumah Baru Desain Mewah Modern Classic, Harga Rp 59 Miliar Nego</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-lg-6 col-xl-4">
									<div class="thumb" data-aos="zoom-in">
										<div class="video-wrapper">
											<div class="vid-area">
												<div class="vid-thumb">
													<div class="vid-box">
														<div class="selector" data-src="https://www.youtube.com/watch?v=-tMIKxbibP4" data-poster="http://img.youtube.com/vi/-tMIKxbibP4/0.jpg">
														</div>
														<div class="customPlayer thumbStyle" data-property="{
															videoURL:'-tMIKxbibP4',
															containment:'self',
															showControls:false,
															loop:true,
															mute:true,
															startAt:10,
															stopAt:16,
															optimizeDisplay:false,
															coverImage:'http://img.youtube.com/vi/uXrJ01XwlCQ/0.jpg'
														}"></div>
													</div>
												</div>
											</div>
											<div class="desc-area">
												<h4 class="font-text-bold" data-aos="fade-in" data-aos-delay="600">House Tour Pondok Indah, Rumah Baru Desain Mewah Modern Classic, Harga Rp 59 Miliar Nego</h4>
											</div>
										</div>
									</div>
								</div> #}
							</div>
						</div>
					</div>
					<ul class="pagination justify-content-center">
						<li class="page-item disabled" data-aos="zoom-in">
							<a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-left"></i></a>
						</li>
						<li class="page-item active" data-aos="zoom-in">
							<a class="page-link" href="#">1</a>
						</li>
						<li class="page-item" data-aos="zoom-in">
							<a class="page-link" href="#">2</a>
						</li>
						<li class="page-item" data-aos="zoom-in">
							<a class="page-link" href="#">3</a>
						</li>
						<li class="page-item" data-aos="zoom-in">
							<a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
						</li>
					</ul>
				</div>
			</section>
			<div class="floating-button" data-aos="zoom-in-left" data-aos-delay="600">
				<a class="font-text-bold" href="sell.html">
					Sell With Us
				</a>
			</div>
{% endblock %}