{% extends 'layouts/default.twig' %}
{% set body_class = 'video-page' %}
{% set head_title = 'Video' %}
{% block page %}
			<section class="video-listing">
				<div class="container">
					<div class="title-page">
						<h4 class="font-text-bold" data-aos="fade-right">Latest Video</h4>
					</div>
					<div class="video-content">
						<div class="wrapper">
							<div class="row">
								<div class="col-6 col-md-4">
									<div class="video-wrapper">
										<div class="selector" data-src="https://www.youtube.com/watch?v=c1fooA5az7I" data-poster="http://img.youtube.com/vi/c1fooA5az7I/0.jpg" data-aos="zoom-in">
											<figure>
												<div class="images" style="background-image: url('http://img.youtube.com/vi/c1fooA5az7I/0.jpg');"></div>
											</figure>
											<div class="image-play">
												<span class="fas fa-play"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-4">
									<div class="video-wrapper">
										<div class="selector" data-src="https://www.youtube.com/embed/4bfgdyxGMQs" data-poster="http://img.youtube.com/vi/4bfgdyxGMQs/0.jpg" data-aos="zoom-in">
											<figure>
												<div class="images" style="background-image: url('http://img.youtube.com/vi/4bfgdyxGMQs/0.jpg');"></div>
											</figure>
											<div class="image-play">
												<span class="fas fa-play"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-4">
									<div class="video-wrapper">
										<div class="selector" data-src="https://www.youtube.com/embed/Q9OI28kTeTA" data-poster="http://img.youtube.com/vi/Q9OI28kTeTA/0.jpg" data-aos="zoom-in">
											<figure>
												<div class="images" style="background-image: url('http://img.youtube.com/vi/Q9OI28kTeTA/0.jpg');"></div>
											</figure>
											<div class="image-play">
												<span class="fas fa-play"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-4">
									<div class="video-wrapper">
										<div class="selector" data-src="https://www.youtube.com/embed/7l_DXTM7X5A" data-poster="http://img.youtube.com/vi/7l_DXTM7X5A/0.jpg" data-aos="zoom-in">
											<figure>
												<div class="images" style="background-image: url('http://img.youtube.com/vi/7l_DXTM7X5A/0.jpg');"></div>
											</figure>
											<div class="image-play">
												<span class="fas fa-play"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-4">
									<div class="video-wrapper">
										<div class="selector" data-src="https://www.youtube.com/embed/9veJpLbh7YM" data-poster="http://img.youtube.com/vi/9veJpLbh7YM/0.jpg" data-aos="zoom-in">
											<figure>
												<div class="images" style="background-image: url('http://img.youtube.com/vi/9veJpLbh7YM/0.jpg');"></div>
											</figure>
											<div class="image-play">
												<span class="fas fa-play"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-4">
									<div class="video-wrapper">
										<div class="selector" data-src="https://www.youtube.com/embed/I9zBliEA2Cs" data-poster="http://img.youtube.com/vi/I9zBliEA2Cs/0.jpg" data-aos="zoom-in">
											<figure>
												<div class="images" style="background-image: url('http://img.youtube.com/vi/I9zBliEA2Cs/0.jpg');"></div>
											</figure>
											<div class="image-play">
												<span class="fas fa-play"></span>
											</div>
										</div>
									</div>
								</div>


								
								<div class="col-6 col-md-4">
									<div class="video-wrapper">
										<div class="selector" data-src="https://www.youtube.com/embed/GGCEgIKGHRA" data-poster="http://img.youtube.com/vi/GGCEgIKGHRA/0.jpg" data-aos="zoom-in">
											<figure>
												<div class="images" style="background-image: url('http://img.youtube.com/vi/GGCEgIKGHRA/0.jpg');"></div>
											</figure>
											<div class="image-play">
												<span class="fas fa-play"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-4">
									<div class="video-wrapper">
										<div class="selector" data-src="https://www.youtube.com/embed/uXrJ01XwlCQ" data-poster="http://img.youtube.com/vi/uXrJ01XwlCQ/0.jpg" data-aos="zoom-in">
											<figure>
												<div class="images" style="background-image: url('http://img.youtube.com/vi/uXrJ01XwlCQ/0.jpg');"></div>
											</figure>
											<div class="image-play">
												<span class="fas fa-play"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-4">
									<div class="video-wrapper">
										<div class="selector" data-src="https://www.youtube.com/embed/sxCHARZAuiI" data-poster="http://img.youtube.com/vi/sxCHARZAuiI/0.jpg" data-aos="zoom-in">
											<figure>
												<div class="images" style="background-image: url('http://img.youtube.com/vi/sxCHARZAuiI/0.jpg');"></div>
											</figure>
											<div class="image-play">
												<span class="fas fa-play"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<ul class="pagination justify-content-center">
						<li class="page-item disabled" data-aos="zoom-in">
							<a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-left"></i></a>
						</li>
						<li class="page-item active" data-aos="zoom-in">
							<a class="page-link" href="#">1</a>
						</li>
						<li class="page-item" data-aos="zoom-in">
							<a class="page-link" href="#">2</a>
						</li>
						<li class="page-item" data-aos="zoom-in">
							<a class="page-link" href="#">3</a>
						</li>
						<li class="page-item" data-aos="zoom-in">
							<a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
						</li>
					</ul>
				</div>
			</section>
{% endblock %}