.agent-detail-listing {
	padding-top: 40px;
	
	@include breakpoint(tablet) {
		padding-top: 50px;
	}

	.properties-content {
		.row {
			@include breakpoint(desktop) {
				margin-left: -10px;
				margin-right: -10px;
			}

			@include breakpoint(laptop) {
				margin-left: -15px;
				margin-right: -15px;
			}

			[class*='col-'] {
				padding-top: 15px;
				padding-bottom: 15px;

				@include breakpoint(desktop) {
					padding-left: 10px;
					padding-right: 10px;
				}

				@include breakpoint(laptop) {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}

	.agent-detail-content {
		.side-left {
			+ .side-right {
				margin-top: 50px;
				
				@include breakpoint(wide) {
					margin-top: 0;
				}
			}
		}

		.thumb {
			.badge-tag {
				@include breakpoint(desktop) {
					font-size: 0.7em;
				}

				@include breakpoint(laptop) {
					font-size: 0.85em;
				}
			}

			.info-area {
				.city {
					@include breakpoint(desktop) {
						font-size: 0.7em;
					}

					@include breakpoint(laptop) {
						font-size: 0.8em;
					}
				}

				.title {
					@include breakpoint(desktop) {
						font-size: 1.2em;
					}

					@include breakpoint(laptop) {
						font-size: 1.3em;
					}

					@include breakpoint(wide-laptop) {
						font-size: 1.5em;
					}
				}

				.facilities {
					li {
						& +li {
							@include breakpoint(desktop) {
								margin-left: 6px;
							}

							@include breakpoint(laptop) {
								margin-left: 12px;
							}

							@include breakpoint(wide-laptop) {
								margin-left: 16px;
							}
						}
					}

					p {
						@include breakpoint(desktop) {
							font-size: 0.8em;
						}

						@include breakpoint(laptop) {
							font-size: 0.9em;
						}
					}
				}

				.price {
					font-size: 2.8em;
				
					@include breakpoint(desktop) {
						font-size: 2.4em;
					}
					
					@include breakpoint(laptop) {
						font-size: 2.8em;
					}

					@include breakpoint(wide-laptop) {
						font-size: 3.2em;
					}
				}
			}
		}
	}

	.agent-contact {
		margin-top: 15px;

		&.is-affixed {
			margin-top: 0;
		}
	}
}

.empty-space {
	width: 100%;
	text-align: center;
	height: 40vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	
	@include breakpoint(tablet) {
		height: 60vh;
	}

	.empty-wrapper {
		width: 100%;
	}

	i {
		font-size: 3em;

		+ p {
			margin-top: 20px;
		}
	}
}