.gallery-image {
	padding-top: 20px;
	padding-bottom: 40px;
	
	@include breakpoint(tablet) {
		padding-top: 30px;
		padding-bottom: 60px;
	}

	.image-area {
		opacity: 0.4;
		border-radius: 8px;
		box-shadow: 2px 4px 20px rgba(0,0,0,0.15);
		transition: $transition-base;

		&:hover {
			@include breakpoint(desktop) {
				transform: scale(1.05);
			}
		}
	}

	.swiper-slide {
		&.swiper-slide-active {
			.image-area {
				opacity: 1;
			}
		}
	}

	.swiper-container {
		padding: 0 30px;
		
		@include breakpoint(tablet) {
			padding: 0 50px;
		}
		
		@include breakpoint(wide) {
			padding: 0;
		}
	}

	figure {
		position: relative;
		width: 100%;
		height: 0;
		padding: 0 0 66.6%;
		padding: 0 0 120%;

		img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top center;
		}
	}

	.swiper-custom-arrow {
		position: absolute;
		top: 50%;
		bottom: initial;
		margin-top: -20px;
		background-color: rgba($black, 0.2);
		backdrop-filter: saturate(180%) blur(20px);
		box-shadow: 2px 4px 10px rgba(0,0,0,0.2);
		
		@include breakpoint(tablet) {
			margin-top: -25px;
		}

		&.swiper-button-prev {
			left: 10px;
			
			@include breakpoint(tablet) {
				left: 30px;
			}
		}

		&.swiper-button-next {
			right: 10px;
		
			@include breakpoint(tablet) {
				right: 30px;
			}
		}

		&:hover {
			@include breakpoint(desktop) {
				color: $black;
				background-color: $white;
			}
		}

		+ .swiper-custom-arrow {
			margin-left: 0;
		}
	}

	.swiper-pagination {
		bottom: 10px;
		
		@include breakpoint(tablet) {
			bottom: 20px;
		}

		&.swiper-pagination-bullets-dynamic {
			.swiper-pagination-bullet {
				opacity: 0.4;
				box-shadow: 2px 4px 10px rgba(0,0,0,0.2);

				&.swiper-pagination-bullet-active {
					background-color: $white;
					opacity: 1;
				}
			}
		}
	}
}

