.sell-view {
	padding-top: 40px;
	
	@include breakpoint(tablet) {
		padding-top: 50px;
	}

	.wording-content {
		+ .form-content,
		+ .contact-content {
			margin-top: 40px;
		}
	}

	.form {
		fieldset {
			background-color: $white;
			box-shadow: 2px 4px 20px rgba($black, 0.15);

			& > legend {
				color: $white;
				background-color: $blue;
				border-radius: 30px;
			}
		}

		.form-check {
			padding: 5px 0;
		}

		.jcf-select,
		.form-control {
			background-color: #e6eefb;
		}

		.jcf-radio,
		.jcf-checkbox {
			border: 0;
			background-color: #e6eefb;

			&.jcf-checked {
				background-color: $blue;
			}
		}

		.jcf-radio {
			span {
				background-color: $white;
				top: 4px;
				bottom: 4px;
				left: 4px;
				right: 4px;
			}
		}

		.jcf-checkbox {
			span {
				border-color: $white;
			}
		}

		.invalid-feedback {
			color: $red;
		}
	}
}