.sell-view {
	padding-top: 40px;
	
	@include breakpoint(tablet) {
		padding-top: 50px;
	}

	.wording-content {
		+ .form-content,
		+ .contact-content {
			margin-top: 40px;
		}
	}
	
	.form-content {
		.form {
			padding: 30px 20px;
			border-radius: 30px;
			background-color: $navy;
			
			@include breakpoint(tablet) {
				padding: 40px 30px;
			}

			label {
				color: $white;
			}

			.button {
				background-color: $blue;
				border-color: $blue;

				&:hover {
					@include breakpoint(desktop) {
						background-color: $dark-blue;
						border-color: $dark-blue;
					}
				}
			}

			.invalid-feedback {
				color: #f9a5a5;
			}
		}
	}
}