		<footer id="footer">
			<div class="nav-top">
				<div class="container">
					<div class="footer-wrapper">
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-lg-6 margin-top" data-aos="zoom-in">
										<div class="footer-logo">
											<a href="index.html">
												<figure>
													<img src="assets/img/logo.png" alt="PT. Oris Haza Propertindo">
												</figure>
											</a>
											<h5 class="subtitle-footer font-text-bold">PT. Oris Haza Propertindo</h5>
										</div>
										<div class="address">
											<address>
												Jl. Cipaku I/16, Kebayoran Baru<br>
												Jakarta Selatan
											</address>
										</div>
									</div>
									<div class="col-lg-6 margin-top" data-aos="zoom-in">
										<div class="contact-phone">
											<h5 class="subtitle-footer font-text-bold">Contact</h5>
											<ul class="content-list phone">
												<li>
													<h6>
														<a href="tel:+6281289831983" target="_blank">
															+62 812 8983 1983
														</a>
													</h6>
												</li>
												<li>
													<h6>
														<a href="mailto:cs@orisproperty.com" target="_blank">
															cs@orisproperty.com
														</a>
													</h6>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-lg-7 margin-top" data-aos="zoom-in">
										<div class="sitemap">
											<h5 class="subtitle-footer font-text-bold">Quick Links</h5>
											<div class="content-list row">
												<div class="col-md-6">
													<h6>
														<a href="index.html">Home</a>
													</h6>
												</div>
												<div class="col-md-6">
													<h6>
														<a href="about.html">About</a>
													</h6>
												</div>
												<div class="col-md-6">
													<h6>
														<a href="properties.html">Properties</a>
													</h6>
												</div>
												<div class="col-md-6">
													<h6>
														<a href="sell.html">Sell With Us</a>
													</h6>
												</div>
												<div class="col-md-6">
													<h6>
														<a href="project.html">New Project</a>
													</h6>
												</div>
												<div class="col-md-6">
													<h6>
														<a href="join.html">Join Us</a>
													</h6>
												</div>
												<div class="col-md-6">
													<h6>
														<a href="video.html">Videos</a>
													</h6>
												</div>
												<div class="col-md-6">
													<h6>
														<a href="agents.html">Agents</a>
													</h6>
												</div>
												<div class="col-md-6">
													<h6>
														<a href="contact.html">Contact Us</a>
													</h6>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-5 margin-top" data-aos="zoom-in">
										<div class="social-media">
											<h5 class="subtitle-footer font-text-bold">Get In Touch</h5>
											<ul class="content-list social flat">
												<li class="instagram">
													<a href="https://www.instagram.com/orisproperty/" target="_blank">
														<i class="fab fa-instagram"></i>
													</a>
												</li>
												<li class="instagram">
													<a href="https://www.instagram.com/haza_property//" target="_blank">
														<i class="fab fa-instagram"></i>
													</a>
												</li>
												<li class="youtube">
													<a href="https://www.youtube.com/channel/UCBprgXIEQygNV7BVsafVyTg" target="_blank">
														<i class="fab fa-youtube"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container text-center">
					<p class="text-footer">Copyright © 2024 PT. Oris Haza Propertindo. All Rights Reserved.</p>
				</div>
			</div>
		</footer>