.pagination {
	.page-item {
		margin: 0 4px;

		&.disabled {
			.page-link {
				opacity: 0.4;
				background-color: $semi-navy;
			}
		}

		&.active {
			.page-link {
				color: $white;
				background-color: $blue;
				
				&:hover {
					@include breakpoint(desktop) {
						background-color: $blue;
					}
				}
			}
		}

		.page-link {
			font-family: 'montserrat_bold';
			color: $white;
			text-align: center;
			line-height: 30px;
			padding: 0;
			width: 30px;
			height: 30px;
			background-color: $semi-navy;
			border: 0;
			border-radius: 100%;
			
			@include breakpoint(wide) {
				font-size: 1.2em;
				width: 34px;
				height: 34px;
				line-height: 34px;
			}

			&:hover {
				@include breakpoint(desktop) {
					background-color: $dark-navy;
				}
			}

			i {
				font-size: 1.2em;
				line-height: 30px;

				@include breakpoint(wide) {
					line-height: 34px;
				}
			}
		}
	}
}